.container {
	max-width: 100%;
	padding: 0 1.5rem;
	margin: 0 auto;

	@include media-breakpoint-up(sm) {
		width: 575px;
		padding: 0 60px;
	}

	@include media-breakpoint-up(md) {
		width: 768px;
	}

	@include media-breakpoint-up(lg) {
		width: 992px;
	}

	@include media-breakpoint-up(xl) {
		width: 1200px;
	}

	@include media-breakpoint-up(xxl) {
		width: 1440px;
	}
}
