.container {
	max-width: 100%;
	padding: 0 1.5rem;
	margin: 0 auto;

	@include media-breakpoint-up(sm) {
		width: 540px;
		padding: 0 60px;
	}

	@include media-breakpoint-up(md) {
		width: 720px;
	}

	@include media-breakpoint-up(lg) {
		width: 960px;
	}

	@include media-breakpoint-up(xl) {
		width: 1140px;
	}

	@include media-breakpoint-up(xxl) {
		width: 1320px;
	}
}
