.fade-in-bottom {
	opacity: 0;
	transform: translateY(20px);

	&.animate {
		animation: fadeInBottom 1s forwards;
	}

	@media (prefers-reduced-motion) {
		opacity: 1;
		transform: none;

		&.animiate {
			animation: none;
		}
	}
}

@keyframes fadeInBottom {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
