@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "../../assets/styles/scss/utilities/_functions";
@import "../../assets/styles/scss/utilities/_variables";
@import "../../assets/styles/scss/utilities/_mixins";
@import "../../assets/styles/scss/layout/_filters";
@import "../../assets/styles/scss/layout/_pagination";

$section: ".block__map-directory";
#{$section} {
	padding-bottom: 80px;

	@include media-breakpoint-down(lg) {
		padding-bottom: 40px;
	}

	#sidebar {
		margin-bottom: 40px;

		@include media-breakpoint-up(xl) {
			margin-bottom: 0;
		}
	}

	.filter {
		border-top: none;
		padding-top: 60px;
		margin-bottom: 100px;

		@include media-breakpoint-down(lg) {
			padding-top: 30px;
			margin-bottom: 50px;
		}

		.filter__item--separeitor + .filter__item {
			&::before {
				content: none !important;
			}
		}

		&__container {
			display: flex;
			flex-direction: column;
		}

		&__row {
			display: flex;
			flex-direction: row;
			flex: 0 0 auto;
			width: 100%;
			column-gap: 40px;
			row-gap: 40px;
			@include media-breakpoint-down(lg) {
				column-gap: 25px;
				row-gap: 25px;
				&:first-of-type {
					align-items: last baseline;
				}
			}
		}

		&__item:not(.filter__item-button):not(.filter__item-search):not(
				.filter__item-filter-button
			):not(.filter__item-clear-button) {
			flex: 0;
			display: flex;
			align-items: center;
			@include media-breakpoint-up(xl) {
				&::before {
					content: "";
					background-color: $line-border-color;
					width: 1px;
					height: 39px;
					transform: translate(0%, -50%);
					position: absolute;
					bottom: unset;
					left: unset;
					left: -20px;
					top: 50%;
				}
			}
			@include media-breakpoint-down(lg) {
				flex-direction: column;
				align-items: flex-start;
			}
			select,
			.multiselect {
				min-width: 195px;
				max-width: 100%;
				@include media-breakpoint-down(lg) {
					min-width: 320px;
				}
			}
		}

		&__item-search {
			flex: 0 0 305px;
			@include media-breakpoint-down(lg) {
				flex: 0 0 320px;
			}
		}

		&__item--separeitor {
			@include font-heading;
			font-style: normal;
			font-weight: 500;
			font-size: px-to-rem(14px);
			line-height: px-to-rem(20px);
			letter-spacing: 1px;
			color: $text;
		}

		&__input {
			width: 305px;
			max-width: 100%;
			@include media-breakpoint-down(lg) {
				min-width: 320px;
			}
			input {
				&::-webkit-input-placeholder {
					color: $container-tertiary;
					opacity: 1;
				}
				&::-moz-placeholder {
					color: $container-tertiary;
					opacity: 1;
				} /* firefox 19+ */
				&:-ms-input-placeholder {
					color: $container-tertiary;
					opacity: 1;
				} /* ie */
			}
		}

		&__item-button {
			flex: 0 0 110px;
			width: 110px;
			min-width: 110px;
			.cta--cta-dark {
				font-size: px-to-rem(11px);
				font-weight: 600;
				text-transform: uppercase;
				padding: 16px 25px;
				min-width: 110px;
			}
		}

		&__item-filter-button {
			// width: 16.66666667%;
			// min-width: 225px;
			flex: 0 0 auto;
			display: flex;
			justify-content: flex-end;
			.cta--cta-filter {
				padding: 13px 27px;
			}
		}

		&__item-clear-button {
			flex: 0 0 auto !important;
			#clear_filters {
				@include font-heading;
				background-color: transparent;
				border-bottom: 1px solid $light-primary;
				border: none;
				color: $light-primary;
				font-size: px-to-rem(11px);
				font-weight: 600;
				letter-spacing: 0.15em;
				line-height: px-to-rem(13px);
				text-transform: uppercase;
				text-decoration-line: underline;
				margin-left: auto;
			}
		}
	}

	.block__header-results-short {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: calc(100% - var(--elev-gutter-x) * 1);
		margin-bottom: 40px;

		@include media-breakpoint-up(xl) {
			margin-bottom: 0;
			position: absolute;
			top: -50px;
		}

		.total__results {
			@include font-heading;
			color: $container-tertiary;
			letter-spacing: 0.04em;
		}
		.sort__results {
			margin-left: auto;
			select {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4 4L7 1' stroke='%239C9C9C'/%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				background-color: transparent;
				background-position: calc(100% - 5px) center;
				background-size: px-to-rem(15px);
				@include font-heading;
				border-radius: 1px;
				border: none;
				color: $container-tertiary;
				font-size: px-to-rem(12px);
				font-weight: 500;
				letter-spacing: 1.2;
				line-height: 2;
				min-height: 0;
				padding: 0 20px 0 0;
				text-align: right;
				text-transform: none;
				width: 136px;
				&::-webkit-input-placeholder {
					color: $container-tertiary;
					opacity: 1;
				}
				&::-moz-placeholder {
					color: $container-tertiary;
					opacity: 1;
				} /* firefox 19+ */
				&:-ms-input-placeholder {
					color: $container-tertiary;
					opacity: 1;
				} /* ie */
				&:active,
				&:focus {
					box-shadow: none;
					outline: none;
					color: $container-tertiary;
					&::-webkit-input-placeholder {
						color: $container-tertiary;
						opacity: 1;
					}
					&::-moz-placeholder {
						color: $container-tertiary;
						opacity: 1;
					} /* firefox 19+ */
					&:-ms-input-placeholder {
						color: $container-tertiary;
						opacity: 1;
					} /* ie */
				}
				option {
					color: $text;
				}
				@include media-breakpoint-down(sm) {
					background-size: px-to-rem(10px);
				}
			}
		}
	}

	.block__col {
		position: relative;
	}

	#main-content {
		flex-wrap: wrap-reverse;
		margin-bottom: 50px;
		padding: 0;
		row-gap: var(--elev-gutter-x);
	}

	#data-container-directory {
		align-content: flex-start;
		.navigation.pagination {
			border-top: 1px solid $line-border-color;
			margin-top: 50px;
			padding-top: 60px;
			@include media-breakpoint-up(xl) {
				width: 58.33333333%;
			}
		}
	}

	#data-container-directory {
		align-content: flex-start;

		@-moz-document url-prefix() {
			scrollbar-color: rgba($color: $primary, $alpha: 1)
				rgba($color: $primary, $alpha: 0.15);
			scrollbar-width: thin !important;
		}

		@media (min-width: 1199.98px) {
			height: 1500px;
			overflow-x: hidden;
			overflow-y: auto;
			overflow-y: scroll;
			padding-bottom: 20px;
			scroll-padding-right: 0;

			&::-webkit-scrollbar {
				width: 4px;
			}
			&::-webkit-scrollbar-track {
				-webkit-border-radius: 20px;
				border-radius: 20px;
				background: rgba($color: #564087, $alpha: 0.15);
			}
			&::-webkit-scrollbar-thumb {
				-webkit-border-radius: 20px;
				border-radius: 20px;
				background: rgba($color: #564087, $alpha: 1);
			}
			&::-webkit-scrollbar-thumb:window-inactive {
				background: rgba($color: #564087, $alpha: 1);
			}
		}

		.col.selected-card {
			.card {
				border-color: $secondary;
				box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.12);
			}
		}
	}

	.spiner-contain {
		background-image: url("../../assets/images/spiner.gif");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		height: 40px;
		position: relative;
		width: 40px;
	}

	.row-cards {
		row-gap: var(--elev-gutter-x);

		&.option-1 {
			.col .card .card__body .card__left {
				.card__row,
				.card__taxonomy {
					display: none;
				}
			}
		}
		&.option-2 {
			.col .card .card__body .card__left {
				.card__excerpt,
				.card__category-location,
				.card__taxonomy {
					display: none;
				}
			}
		}
		&.option-3 {
			.col .card .card__body .card__left {
				.card__excerpt,
				.card__row {
					display: none;
				}
			}
		}
	}

	.block__map {
		background-color: $accesible-background;
		position: relative;
		@include media-breakpoint-up(xxl) {
			width: calc((((100vw - 1280px) / 2) + 32px) + 100%);
		}
		@include media-breakpoint-between(xl, xxl) {
			width: calc((((100vw - 1140px) / 2) + 55px) + 100%);
		}
		@include media-breakpoint-up(xl) {
			height: 900px;
		}
		@include media-breakpoint-down(xl) {
			height: 500px;
		}
		@include media-breakpoint-down(md) {
			height: 300px;
		}
		.acf-map {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}

	$card: ".card";
	#{$card} {
		align-items: stretch;
		background: #ffffff;
		border-radius: 1px;
		border: 1px solid rgba(217, 217, 217, 0.418324);
		display: flex;
		flex-direction: row;
		overflow: hidden;
		position: relative;
		transition: all 0.4s ease;
		cursor: pointer;

		@include media-breakpoint-down(lg) {
			flex-direction: column;
		}

		&__link {
			display: block;
			position: relative;
			height: 100%;
		}

		&__image {
			background-color: $text;
			flex: 0 0 193px;
			overflow: hidden;
			position: relative;
			&--on-hover {
				bottom: unset;
				height: 100%;
				left: 50%;
				opacity: 0;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				transition: all 0.2s ease;
				width: 100%;
				z-index: 5;
				&::after {
					content: "";
					background: rgba($color: $light-primary, $alpha: 0.8);
					bottom: unset;
					height: 100%;
					left: 50%;
					opacity: 0;
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
					transition: all 0.3s ease;
					width: 100%;
					z-index: 4;
				}
				img {
					bottom: unset;
					height: 100% !important;
					left: 50%;
					object-fit: contain;
					object-position: center;
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%) scale(0.8);
					width: 100%;
					z-index: 5;
				}
			}
			img {
				bottom: unset;
				height: 101% !important;
				left: 50%;
				object-fit: cover;
				object-position: center;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%) scale(1);
				transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
				width: 101%;
			}

			@include media-breakpoint-down(lg) {
				min-height: 300px;
			}
		}

		&__body {
			display: flex;
			flex-direction: row;
			flex: 1;
			padding: 48px 25px;

			@include media-breakpoint-down(lg) {
				flex-direction: column;
				row-gap: 20px;
				padding: 30px 25px;
			}

			> *,
			* > * {
				@include font-heading;
				color: $text;
				margin: 0;
			}
		}
		&__left,
		&__right {
			display: flex;
			flex-direction: column;
			flex: 1;
			row-gap: 17px;
		}
		&__right {
			@include media-breakpoint-up(lg) {
				flex: 0 0 125px;
			}
			> * {
				justify-content: flex-end;
				align-content: flex-end;
				align-items: end;
			}
		}
		&__row {
			display: flex;
			column-gap: 10px;
			> * {
				flex: 1;
			}
		}

		&__title {
			font-size: px-to-rem(20px);
			font-weight: 500;
			letter-spacing: 0.04em;
			line-height: px-to-rem(28px);
			transition: all 0.3s ease-in-out;
			a,
			span {
				background-color: transparent;
				border-bottom-color: transparent;
				border-bottom-style: solid;
				border-bottom-width: px-to-rem(0.5px);
				display: inline;
				text-align: left;
				transition-duration: 0.4s;
				transition-property: border-bottom-color;
				transition-timing-function: ease-in-out;
				overflow-wrap: break-word;
				white-space: normal;
				word-break: break-word;
			}
		}

		&__subtitle {
			color: $container-tertiary;
			display: block;
			font-size: 18px;
			font-weight: 500;
			letter-spacing: 0.04em;
			line-height: 1.44;
			margin-bottom: 13px;
		}

		&__excerpt,
		&__excerpt > * {
			@include font-body;
			font-size: px-to-rem(14px);
			font-weight: 400;
			letter-spacing: 0.03em;
			line-height: px-to-rem(25px);
		}

		&__contact,
		&__address {
			color: $text;
			display: block;
			font-size: px-to-rem(14px);
			font-weight: 400;
			letter-spacing: 0.06em;
			line-height: px-to-rem(25px);
			overflow-wrap: break-word;
			white-space: normal;
			word-break: break-word;
		}

		&__contact {
			display: flex;
			flex-direction: column;
		}

		&__taxonomy {
			align-items: center;
			column-gap: 10px;
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			row-gap: 8px;
			span {
				align-items: center;
				column-gap: 10px;
				display: flex;
				flex-wrap: nowrap;
				position: relative;
				> *,
				* > * {
					@include font-heading;
					color: $text;
					display: block;
					font-size: px-to-rem(14px);
					font-weight: 400;
					letter-spacing: 0.04em;
					line-height: px-to-rem(22px);
					text-decoration: none;
				}
				&:last-child {
					&::after {
						content: none;
					}
				}
				&::after {
					content: "|";
					display: block;
				}
			}
		}

		&__category-location {
			align-items: baseline;
			column-gap: 10px;
			display: flex;
			flex-wrap: wrap;
			row-gap: 8px;
			span {
				@include font-heading;
				border-radius: 2px;
				display: block;
				font-size: px-to-rem(14px);
				font-weight: 500;
				letter-spacing: 1px;
				line-height: px-to-rem(18px);
				padding: 5px 6px;
			}
			.category {
				background: $container-primary;
				color: $light-primary;
			}
			.location {
				background: transparent;
				color: $container-tertiary;
			}
		}

		&__distance {
			align-items: center;
			column-gap: 7px;
			display: flex;
			position: relative;
			&::before {
				content: "";
				width: 18px;
				height: 18px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url("data:image/svg+xml,%3Csvg width='14' height='19' viewBox='0 0 14 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.00001 18.0035C5.73695 16.9261 4.5662 15.745 3.50001 14.4725C1.9 12.5615 8.78896e-07 9.71551 8.78896e-07 7.00351C-0.000693021 5.61847 0.40951 4.26436 1.1787 3.11254C1.94788 1.96072 3.04148 1.06297 4.32108 0.532908C5.60068 0.00284672 7.00876 -0.1357 8.36713 0.134802C9.7255 0.405303 10.9731 1.07269 11.952 2.05251C12.6038 2.70137 13.1204 3.47305 13.4719 4.32288C13.8235 5.17272 14.003 6.08384 14 7.00351C14 9.71551 12.1 12.5615 10.5 14.4725C9.43382 15.745 8.26307 16.9261 7.00001 18.0035ZM7.00001 4.00351C6.20436 4.00351 5.4413 4.31958 4.87869 4.88219C4.31608 5.4448 4.00001 6.20786 4.00001 7.00351C4.00001 7.79916 4.31608 8.56222 4.87869 9.12483C5.4413 9.68744 6.20436 10.0035 7.00001 10.0035C7.79566 10.0035 8.55873 9.68744 9.12134 9.12483C9.68395 8.56222 10 7.79916 10 7.00351C10 6.20786 9.68395 5.4448 9.12134 4.88219C8.55873 4.31958 7.79566 4.00351 7.00001 4.00351Z' fill='%23CB4B3B'/%3E%3C/svg%3E%0A");
			}
			span {
				color: $light-primary;
				font-size: 14px;
				font-weight: 700;
				letter-spacing: 0.15em;
				line-height: 16px;
				text-transform: uppercase;
			}
		}

		&__buttons {
			display: flex;
			flex-direction: column;
			margin-top: auto;
			> * {
				cursor: pointer;
			}
		}

		&:hover,
		&.active {
			box-shadow: 4px 2px 15px rgba(0, 0, 0, 0.05);
			#{$card}__image--on-hover {
				opacity: 1;
				&::after {
					opacity: 1;
				}
				img {
					transform: translate(-50%, -50%) scale(0.5) !important;
				}
			}
			#{$card}__image {
				img {
					transform: translate(-50%, -50%) scale(1.1);
				}
			}
			#{$card}__title {
				a,
				span {
					text-decoration-line: none;
					color: $light-primary;
					&:hover {
						border-bottom-color: $light-primary !important;
					}
				}
			}
		}
	}
}

$modal: ".modal";
#{$modal} {
	&__content {
		border: none;
		background: #ffffff;
		box-shadow: 4px 2px 22px rgba(0, 0, 0, 0.092);
		border-radius: 1px;
	}
	&__header {
		position: relative;
		padding: 0;
		border: none;
	}
	&__close {
		background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.1739 13.9993L18.7537 10.4272C18.9105 10.2704 18.9986 10.0578 18.9986 9.83605C18.9986 9.61432 18.9105 9.40167 18.7537 9.24487C18.597 9.08808 18.3843 9 18.1626 9C17.9409 9 17.7283 9.08808 17.5715 9.24487L14 12.8253L10.4285 9.24487C10.2717 9.08808 10.0591 9 9.83736 9C9.61565 9 9.40303 9.08808 9.24626 9.24487C9.08949 9.40167 9.00142 9.61432 9.00142 9.83605C9.00142 10.0578 9.08949 10.2704 9.24626 10.4272L12.8261 13.9993L9.24626 17.5713C9.16823 17.6488 9.10629 17.7408 9.06403 17.8423C9.02176 17.9438 9 18.0526 9 18.1625C9 18.2724 9.02176 18.3813 9.06403 18.4827C9.10629 18.5842 9.16823 18.6763 9.24626 18.7537C9.32365 18.8317 9.41573 18.8937 9.51718 18.936C9.61864 18.9782 9.72745 19 9.83736 19C9.94726 19 10.0561 18.9782 10.1575 18.936C10.259 18.8937 10.3511 18.8317 10.4285 18.7537L14 15.1733L17.5715 18.7537C17.6489 18.8317 17.741 18.8937 17.8425 18.936C17.9439 18.9782 18.0527 19 18.1626 19C18.2725 19 18.3814 18.9782 18.4828 18.936C18.5843 18.8937 18.6763 18.8317 18.7537 18.7537C18.8318 18.6763 18.8937 18.5842 18.936 18.4827C18.9782 18.3813 19 18.2724 19 18.1625C19 18.0526 18.9782 17.9438 18.936 17.8423C18.8937 17.7408 18.8318 17.6488 18.7537 17.5713L15.1739 13.9993Z' fill='%23211F1F'/%3E%3Ccircle cx='14' cy='14' r='13' stroke='%23211F1F' stroke-width='2'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-size: contain;
		background-color: transparent;
		border: none;
		float: none !important;
		margin: 0 auto !important;
		position: absolute;
		right: 24px;
		top: 24px;
		opacity: 1;
		padding: 0 !important;
		text-align: center;
		transition: all 0.4s ease;
		width: 28px;
		height: 28px;
		z-index: 10;
	}
	&__body {
		padding: 72px 68px;
		@include media-breakpoint-down(lg) {
			padding: 55px 30px;
		}
		> .row {
			row-gap: 12px;
		}
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		padding-bottom: 55px;
		padding-top: 32px;
		position: relative;
		column-gap: 20px;
		&::after {
			content: "";
			bottom: 16px;
			left: 0;
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: $line-border-color;
		}
	}
	&__col {
		flex: 1;
	}
	&__body-top {
		margin-bottom: 17px;
	}
	&__category-location {
		align-items: baseline;
		column-gap: 10px;
		display: flex;
		flex-wrap: wrap;
		row-gap: 8px;
		margin-top: 13px;
		span {
			@include font-heading;
			border-radius: 2px;
			display: block;
			font-size: px-to-rem(14px);
			font-weight: 500;
			letter-spacing: 1px;
			line-height: 1.4;
			padding: 5px 6px;
		}
		.category {
			background: $container-primary;
			color: $light-primary;
		}
		.location {
			background: transparent;
			color: $container-tertiary;
		}
	}
	&__subtitle {
		@include font-heading;
		color: $text;
		display: block;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 0.04em;
		line-height: 1.44;
		margin-bottom: 13px;
	}
	&__contact,
	&__contact > *,
	&__address {
		color: $text;
		display: block;
		font-size: px-to-rem(14px);
		font-weight: 400;
		letter-spacing: 0.06em;
		line-height: px-to-rem(25px);
		overflow-wrap: break-word;
		white-space: normal;
		word-break: break-word;
	}
	&__excerpt,
	&__excerpt > * {
		@include font-body;
		font-size: px-to-rem(14px);
		font-weight: 400;
		letter-spacing: 0.03em;
		line-height: px-to-rem(25px);
	}
	&__image {
		position: relative;
		img {
			object-fit: cover;
			height: 100%;
			display: block;
		}
	}
}

.gm-style .gm-style-iw-t::after {
	display: none;
}
.gm-style-iw-d::-webkit-scrollbar {
	overflow: hidden !important;
}
.gm-style .gm-style-iw {
	overflow: hidden !important;
	&::-webkit-scrollbar {
		width: 0px;
	}
	&::-webkit-scrollbar-track {
		border-radius: 0;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 0;
		background: rgba($color: $grey, $alpha: 1);
	}
	&::-webkit-scrollbar-thumb:window-inactive {
		background: rgba($color: $grey, $alpha: 1);
	}
}
.gm-style .gm-style-iw-c {
	background-color: $white !important;
	border-radius: 0 !important;
	padding: 30px !important;
	box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
	width: 360px !important;
	.gm-ui-hover-effect {
		right: 0 !important;
		top: 0 !important;
	}
}
