
.callout-background-content-center-icon {
	&__background {
		height: 100% !important;
		img{
			height: 100% !important;
		}
	}
	.custom-container{
		padding: 100px 0 !important;
		&--medium{
			padding: 100px 8.333% !important;
		}

		&--default{
			padding: 100px 16.666% !important;
		}
	}

	.wp-block-group-is-layout-flow{
		.wp-block + .wp-block{
			margin-top: 12px;
		}
		.wp-block-heading{
			margin: 0;
		}

		.wp-block + .wp-block-elevation-interior-components--buttons{
			margin-top: 24px;
		}
	}
}

