@import "../../assets/styles/scss/utilities/functions";
@import "../../assets/styles/scss/utilities/variables";
@import "../../assets/styles/scss/utilities/mixins";
@import "../../critical-assets/styles/scss/layout/custom-container";

.cards-background-images-card {
	&>img {
		height: 100% !important;
	}


	&__figure {
		img {
			height: 100% !important;
		}
	}

	&__container {
		width: calc(100% - 40px) !important;
		height: calc(100% - 40px) !important;
	}

	.wp-block-heading {
		margin-bottom: 12px;
		margin-top: 20px;
	}

}