$ui-foreground-primary-text-headings: rgb(33, 0, 68);
$ui-foreground-primary-text-body-text: rgb(79, 77, 85);
$ui-foreground-primary-text-headings-span: rgb(71, 18, 126);
$ui-foreground-primary-text-links: rgb(102, 45, 145);
$ui-foreground-primary-text-highlight-text: rgb(223, 1, 65);
$ui-foreground-primary-text-date-text: rgb(114, 113, 117);
$ui-foreground-primary-text-button_on-dark: rgb(33, 0, 68);
$ui-foreground-primary-accent-01: rgb(252, 0, 72);
$ui-foreground-primary-accent-02: rgb(0, 244, 237);
$ui-foreground-primary-accent-03: rgb(242, 208, 70);
$ui-foreground-primary-accent-04: rgb(71, 18, 126);
$ui-foreground-primary-accent-05: rgb(138, 85, 179);
$ui-foreground-secondary-indicator: rgb(102, 45, 145);
$ui-background-primary: rgb(33, 0, 68);
$ui-background-secondary: rgb(102, 45, 145);
$ui-background-tertiary: rgb(71, 18, 126);
$ui-background-fourth: rgb(138, 85, 179);
$ui-background-light-01: rgb(246, 244, 249);
$ui-background-light-02: rgba(79, 77, 85, 0.15);
$ui-background-light-03: rgba(102, 45, 145, 0.15);
$ui-button-primary-color-01: rgb(33, 0, 68);
$ui-button-primary-color-02: rgb(102, 45, 145);
$ui-button-primary-color-03: rgb(229, 216, 237);
$ui-button-primary-color-04: rgb(71, 18, 126);
$ui-button-primary-hover: rgb(138, 85, 179);
$ui-button-secondary-color-01: rgb(33, 0, 68);
$ui-button-secondary-hover: rgb(102, 45, 145);
$ui-button-tertiary-color-01: rgb(33, 0, 68);
$ui-button-tertiary-hover: rgb(102, 45, 145);
$ui-button-fourth-color-01: rgb(138, 85, 179);
$ui-button-fourth-hover: rgb(102, 45, 145);
$ui-button-on-dark-hover: rgb(229, 216, 237);
$ui-border-bounds: rgb(213, 212, 220);
$ui-border-input-controls-active: rgb(102, 45, 145);
$ui-border-input-controls-focus: rgb(33, 0, 68);
$ui-border-input-controls-disabled: rgb(229, 229, 235);
$ui-border-system-success: rgb(63, 197, 92);
$ui-border-system-warning: rgb(255, 5, 0);
$ui-border-line-divider-dots-divider: rgb(213, 196, 221);
$ui-border-line-divider-on-light: rgb(231, 225, 234);
$ui-border-line-divider-on-dark: rgb(138, 85, 179);
$ui-base-white: rgb(251, 249, 248);
$ui-base-black: rgb(17, 17, 17);
$ui-base-controls-input-disabled: rgb(189, 185, 198);
$ui-base-controls-input-warning: rgb(251, 239, 239);
$ui-base-controls-label-disabled: rgb(164, 159, 177);