/*
* Breakpoints
*/

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
);

/*
* Header
*/
$header-height-desktop: 159px;
$header-height-mobile: 80px;
$logo_width: 200px;

/* Selector */
$selector_color: var(--wp--preset--color--ui-foreground-primary-text-headings);

/*
* Buttons Border Radius
*/
$button-border-radius: 40px;

/*
* Accessibility
*/
$accesible-background: var(--wp--preset--color--ui-background-primary);

/*
* Inputs
*/
$input-border-radius: 2px;

/*
*  Colors
*/

/* Foregrounds */
$ui-foreground-primary-text-headings: var(
	--wp--preset--color--ui-foreground-primary-text-headings
);
$ui-foreground-primary-text-body-text: var(
	--wp--preset--color--ui-foreground-primary-text-body-text
);
$ui-foreground-primary-text-headings-span: var(
	--wp--preset--color--ui-foreground-primary-text-headings-span
);
$ui-foreground-primary-text-links: var(
	--wp--preset--color--ui-foreground-primary-text-links
);
$ui-foreground-primary-text-highlight-text: var(
	--wp--preset--color--ui-foreground-primary-text-highlight-text
);
$ui-foreground-primary-text-date-text: var(
	--wp--preset--color--ui-foreground-primary-text-date-text
);
$ui-foreground-primary-text-button_on-dark: var(
	--wp--preset--color--ui-foreground-primary-text-button_on-dark
);
$ui-foreground-primary-accent-01: var(
	--wp--preset--color--ui-foreground-primary-accent-01
);
$ui-foreground-primary-accent-02: var(
	--wp--preset--color--ui-foreground-primary-accent-02
);
$ui-foreground-primary-accent-03: var(
	--wp--preset--color--ui-foreground-primary-accent-03
);
$ui-foreground-primary-accent-04: var(
	--wp--preset--color--ui-foreground-primary-accent-04
);
$ui-foreground-primary-accent-05: var(
	--wp--preset--color--ui-foreground-primary-accent-05
);
$ui-foreground-secondary-indicator: var(
	--wp--preset--color--ui-foreground-secondary-indicator
);

/* Backgrounds */
$ui-background-primary: var(--wp--preset--color--ui-background-primary);
$ui-background-secondary: var(--wp--preset--color--ui-background-secondary);
$ui-background-tertiary: var(--wp--preset--color--ui-background-tertiary);
$ui-background-fourth: var(--wp--preset--color--ui-background-fourth);
$ui-background-light-01: var(--wp--preset--color--ui-background-light-01);
$ui-background-light-02: var(--wp--preset--color--ui-background-light-02);
$ui-background-light-03: var(--wp--preset--color--ui-background-light-03);

/* Buttons */
$ui-button-primary-color-01: var(
	--wp--preset--color--ui-button-primary-color-01
);
$ui-button-primary-color-02: var(
	--wp--preset--color--ui-button-primary-color-02
);
$ui-button-primary-color-03: var(
	--wp--preset--color--ui-button-primary-color-03
);
$ui-button-primary-color-04: var(
	--wp--preset--color--ui-button-primary-color-04
);
$ui-button-primary-hover: var(--wp--preset--color--ui-button-primary-hover);
$ui-button-secondary-color-01: var(
	--wp--preset--color--ui-button-secondary-color-01
);
$ui-button-secondary-hover: var(--wp--preset--color--ui-button-secondary-hover);
$ui-button-tertiary-color-01: var(
	--wp--preset--color--ui-button-tertiary-color-01
);
$ui-button-tertiary-hover: var(--wp--preset--color--ui-button-tertiary-hover);
$ui-button-fourth-color-01: var(--wp--preset--color--ui-button-fourth-color-01);
$ui-button-fourth-hover: var(--wp--preset--color--ui-button-fourth-hover);
$ui-button-on-dark-hover: var(--wp--preset--color--ui-button-on-dark-hover);

/* Borders */
$ui-border-bounds: var(--wp--preset--color--ui-border-bounds);
$ui-border-input-controls-active: var(
	--wp--preset--color--ui-border-input-controls-active
);
$ui-border-input-controls-focus: var(
	--wp--preset--color--ui-border-input-controls-focus
);
$ui-border-input-controls-disabled: var(
	--wp--preset--color--ui-border-input-controls-disabled
);
$ui-border-system-success: var(--wp--preset--color--ui-border-system-success);
$ui-border-system-warning: var(--wp--preset--color--ui-border-system-warning);
$ui-border-line-divider-dots-divider: var(
	--wp--preset--color--ui-border-line-divider-dots-divider
);
$ui-border-line-divider-on-light: var(
	--wp--preset--color--ui-border-line-divider-on-light
);
$ui-border-line-divider-on-dark: var(
	--wp--preset--color--ui-border-line-divider-on-dark
);

/* Base */
$ui-base-white: var(--wp--preset--color--ui-base-white);
$ui-base-black: var(--wp--preset--color--ui-base-black);
$ui-base-controls-input-disabled: var(
	--wp--preset--color--ui-base-controls-input-disabled
);
$ui-base-controls-input-warning: var(
	--wp--preset--color--ui-base-controls-input-warning
);
$ui-base-controls-label-disabled: var(
	--wp--preset--color--ui-base-controls-label-disabled
);
