@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "../../assets/styles/scss/utilities/_functions";
@import "../../assets/styles/scss/utilities/_variables";
@import "../../assets/styles/scss/utilities/_mixins";

@import "../../assets/styles/scss/utilities/_swiper";
@import "swiper/css/bundle";

$section: ".component__timeline-horizontal";
#{$section} {
	.swiper__container--thumb {
		margin-bottom: 50px;
		overflow: hidden;
		position: relative;
		&::after {
			content: "";
			background: $container-primary;
			bottom: 14px;
			height: 1px;
			left: 0;
			margin: 0 auto;
			position: absolute;
			right: 0;
			width: calc(100% - 80px);
			z-index: -1;
		}
		.swiper-wrapper {
			align-items: center;
		}
		.swiper-slide {
			width: auto;
			@include media-breakpoint-up(lg) {
				width: calc((100% / 3) - 50px);
			}
			height: 70px;
			position: relative;
			text-align: center;
			&.swiper-slide-active {
				.tooltip-date {
					opacity: 1;
				}
			}
			.tooltip-date {
				@include font-heading;
				background: $container-primary;
				border-radius: 2px;
				color: $light-primary;
				font-size: px-to-rem(14px);
				padding: 5px 6px;
				font-weight: 500;
				width: auto !important;
				letter-spacing: 1px;
				line-height: px-to-rem(17px);
				cursor: pointer;
				opacity: 0;
				transition: all 0.4s ease;
			}
			.dot-date {
				display: block;
				width: 14px;
				background-color: $light-primary;
				height: 14px;
				border-radius: 50%;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto 8px;
				cursor: pointer;
			}
		}
		.swiper-button-next,
		.swiper-button-prev {
			background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='29' y='29' width='29' height='29' rx='2' transform='rotate(180 29 29)' fill='%23FCDDD9'/%3E%3Cpath d='M20.5303 14.5303C20.8232 14.2374 20.8232 13.7626 20.5303 13.4697L15.7574 8.6967C15.4645 8.40381 14.9896 8.40381 14.6967 8.6967C14.4038 8.98959 14.4038 9.46447 14.6967 9.75736L18.9393 14L14.6967 18.2426C14.4038 18.5355 14.4038 19.0104 14.6967 19.3033C14.9896 19.5962 15.4645 19.5962 15.7574 19.3033L20.5303 14.5303ZM8 14.75H20V13.25H8V14.75Z' fill='%23CB4B3B'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			width: 30px;
			height: 30px;
			top: unset;
			margin: 0;
			bottom: 0;
			&::after {
				content: none;
			}
		}
		.swiper-button-next {
			left: auto;
			right: -1px;
		}
		.swiper-button-prev {
			transform: rotate(180deg);
			left: -1px;
			right: auto;
		}
	}

	.swiper__container--timeline {
		width: 100%;
		overflow: hidden;
		padding: 2px;
	}

	.row-gap-50 {
		row-gap: 50px;
		flex-direction: row;
	}

	.card {
		background-color: transparent;
		border-radius: 1px;
		border: 1px solid $container-primary;
		display: flex;
		flex-direction: column;

		&__header {
			padding: 30px 35px 28px;
			display: flex;
			column-gap: 30px;
			flex-direction: column;
			@include media-breakpoint-up(lg) {
				flex-direction: row;
			}
		}

		&__footer {
			padding: 0 0 0 35px;
			background: #ffffff;
			border-radius: 0;
			border-top: 1px solid $container-primary;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			flex: 0 1 100%;
		}

		&__body {
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 20px 0;
			> *,
			* > * {
				color: $text;
				margin: 0;
			}
			&--flex {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-wrap: wrap;
				column-gap: 22px;
				row-gap: 14px;
			}
		}

		&__author,
		&__date {
			@include font-heading;
			font-weight: 500;
			font-size: px-to-rem(14px);
			line-height: px-to-rem(14px);
			letter-spacing: 1px;
			color: $container-tertiary;
			display: inherit;
		}

		&__image {
			overflow: hidden;
			flex: 1 0 300px;
			@include media-breakpoint-up(lg) {
				width: 385px;
				flex: 0 0 385px;
			}
			img {
				height: 101% !important;
				object-fit: cover;
				object-position: center;
				width: 101%;
				z-index: 1;
			}
			&--hover-effect {
				img {
					transform: scale(1);
					transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
				}
			}
		}

		&__category {
			@include font-heading;
			background: $container-primary;
			border-radius: 2px;
			color: $light-primary;
			display: block;
			font-size: px-to-rem(14px);
			font-weight: 500;
			letter-spacing: 1px;
			line-height: px-to-rem(17px);
			padding: 5px 6px;
		}

		&__social-color {
			display: flex;
			margin-left: auto;
			align-items: center;
			column-gap: 15px;
			.label {
				@include font-heading;
				color: $light-primary;
				font-size: px-to-rem(14px);
				font-style: normal;
				font-weight: 700;
				letter-spacing: 0.15em;
				line-height: px-to-rem(16px);
				text-transform: uppercase;
			}
			.social-network {
				gap: 0;
				li {
					padding: 15px;
					border-left: 1px solid $container-primary;
					a {
						span {
							filter: invert(36%) sepia(78%) saturate(1140%)
								hue-rotate(334deg) brightness(84%) contrast(86%);
						}
					}
				}
			}
		}

		&__title {
			@include font-heading;
			font-size: px-to-rem(18px);
			font-weight: 500;
			letter-spacing: 0.04em;
			line-height: px-to-rem(26px);
			transition: all 0.3s ease-in-out;
			// a{
			//   background-color: transparent;
			//   border-bottom-color: transparent;
			//   border-bottom-style: solid;
			//   border-bottom-width: px-to-rem(0.5px);
			//   display: inline;
			//   text-align: left;
			//   transition-duration: 0.4s;
			//   transition-property: border-bottom-color;
			//   transition-timing-function: ease-in-out;
			// }
		}

		&__excerpt,
		&__excerpt > * {
			@include font-body;
			font-weight: 400;
			font-size: px-to-rem(14px);
			line-height: px-to-rem(25px);
			letter-spacing: 0.03em;
		}

		&:hover,
		&.active {
			.card {
				&__image {
					&--hover-effect {
						img {
							transform: scale(1.1);
						}
					}
				}
				&__body {
					&__title {
						text-decoration-line: none;
						// a{
						//   border-bottom-color: $light-primary !important;
						//   color: $light-primary;
						// }
					}
				}
			}
		}
	}
}
