
.callout-image-right {
	&__background {
		flex: 1;
		min-height: auto;
		img{
			height: 100% !important;
		}
	}
	&__wrapper{
		.block-editor-inner-blocks{
			width: auto;
			flex: 1;
			.block-editor-block-list__layout{
				
			>*:not(.cta), >*>*:not(.cta){
				color: #FBF9F8;
			}
			}
		}
		&.row-reverse{
			flex-direction: row-reverse;
			.group{
				margin-left: auto;
			}
		}
	}
	.wp-block-group-is-layout-flow{
		.wp-block + .wp-block{
			margin-top: 12px;
		}
		.wp-block-heading{
			margin: 0;
		}

		.wp-block + .wp-block-elevation-interior-components--buttons{
			margin-top: 24px;
		}
	}
}

