@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";

.callout-image-right {
	position: relative;
	display: flex;
	align-items: center;
	opacity: 1;

	&__container {
		position: relative;
		z-index: 2;
	}

	&__wrapper {
		display: flex;
		flex-direction: column-reverse;

		@include media-breakpoint-up(xl) {
			&.row {
				flex-direction: row;
			}

			&.row-reverse {
				flex-direction: row-reverse;
			}
		}

		.group {
			--callout-image-right-padding: 80px 30px;
			padding: var(--callout-image-right-padding);
			background-color: $ui-background-secondary;
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;
			flex: 0 0 auto;
			width: 100%;

			> *:not(.cta),
			> * > *:not(.cta) {
				color: $ui-base-white;
			}

			@include media-breakpoint-up(xl) {
				width: auto;
				flex: 1;
			}

			@include media-breakpoint-up(xxl) {
				--callout-image-right-padding: 160px 113px 160px 129px;
			}
		}
	}

	&__background:not(img) {
		max-height: 600px;
		overflow: hidden;

		@include media-breakpoint-up(xl) {
			flex: 0 0 auto;
			width: 50%;
			min-height: 590px;
			max-height: unset;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&.alignfull {
		.callout-image-right {
			&__wrapper {
				position: relative;

				&.row {
					justify-content: flex-start;

					.group {
						&::after {
							@include media-breakpoint-up(xl) {
								right: 0;
								left: unset;
							}
						}
					}

					.callout-image-right__background {
						@include media-breakpoint-up(xl) {
							right: calc(-50vw + 50%);
							left: unset;
						}
					}
				}

				&.row-reverse {
					justify-content: flex-start;

					.group {
						&::after {
							@include media-breakpoint-up(xl) {
								right: unset;
								left: 0;
							}
						}
					}

					.callout-image-right__background {
						@include media-breakpoint-up(xl) {
							left: calc(-50vw + 50%);
							right: unset;
						}
					}
				}

				.group {
					position: relative;

					@include media-breakpoint-down(sm) {
						--callout-image-right-padding: 80px 0;
					}

					@include media-breakpoint-up(xl) {
						width: 50%;
						flex: 0 0 auto;
					}

					&::after {
						content: "";
						left: calc(-50vw + 50%);
						top: 0;
						position: absolute;
						width: 100vw;
						height: 100%;
						background-color: $ui-background-secondary;
						z-index: -1;

						@include media-breakpoint-up(xl) {
							width: 50vw;
						}
					}
				}
			}

			&__background:not(img) {
				width: 100vw;
				position: relative;
				left: calc(-50vw + 50%);

				@include media-breakpoint-up(xl) {
					min-height: unset;
					width: 50vw;
					position: absolute;
					height: 100%;
					top: 0;

					img {
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
	}
}
