.block__template-presskit{
  padding: 40px 0;
  &--row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    &.row-cols-xl-2{
      > * {
        flex: 0 0 auto;
        width: calc(50% - 10px);
      }
    }
    &.row-cols-xl-1{
      > * {
        flex: 0 0 auto;
        width: 100%;
      }
    }
    > .col{
      .card{
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        a{
          text-decoration: none;
        }
      }
    }
  }
}