@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";
@import "../../../critical-assets/styles/scss/layout/custom-container";

.cards-default-icons-card {
	width: auto;
	flex: 1;

	&__container {
		width: 100%;
	}

	&__container {
		flex-direction: column;
		justify-content: flex-start;
	}

	.wp-block-heading {
		margin-top: 0px;
		color: var(--default-editor-color) !important;

		&::after {
			content: none;
		}
	}

	&:hover {
		.wp-block-heading {
			color: var(--default-editor-color) !important;
		}
	}
}