@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";

.logos-carousel {
	opacity: 1;

	.swiper {
		@include media-breakpoint-up(lg) {
			width: calc(100% + 66px);
			margin-left: -29px;
			padding-left: 29px;
			padding-right: 29px;
		}

		&__container {
			position: relative;
			display: flex;
			flex-direction: column;
			padding: 0px;
			gap: 30px;

			&-actions {
				justify-content: flex-end;
				gap: 30px;
				position: absolute;
				width: 100%;
				height: 40px;
				left: 0;
				padding: 0;
				display: none;
				top: calc(50% - 15px);
				transform: translateY(-50%);
				z-index: 10;

				@include media-breakpoint-up(md) {
					display: flex;
				}

				@include media-breakpoint-up(lg) {
					height: 63px;
					justify-content: space-between;
				}

				.swiper-pagination {
					position: relative;
				}

				.swiper-button-next,
				.swiper-button-prev {
					--swiper-navigation-size: 40px;
					--swiper-navigation-sides-offset: 0px;
					@include media-breakpoint-up(lg) {
						--swiper-navigation-size: 63px;
						--swiper-navigation-sides-offset: -16px;
					}
					&::after {
						content: "";
						width: 40px;
						height: 40px;
						flex-shrink: 0;
						background-image: url("./images/right-arrow.webp");
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;

						@include media-breakpoint-up(lg) {
							width: 63px;
							height: 63px;
						}
					}
				}

				.swiper-button-prev {
					&::after {
						transform: rotate(180deg);
					}
				}
			}

			&-controls {
				display: flex;
				height: 10px;
				justify-content: center;

				.swiper-pagination {
					display: flex;
					align-items: center;
					justify-content: center;
					top: unset;
					padding: 0 20px;
					bottom: unset;

					@include media-breakpoint-up(xxl) {
						padding: 0 80px;
					}

					.swiper-pagination-bullet {
						--swiper-pagination-bullet-height: 6px;
						--swiper-pagination-bullet-width: 6px;
						background-color: $ui-button-primary-color-01;
						opacity: 1;
						transition:
							200ms transform,
							200ms left,
							0.2s width !important;
						position: initial;

						&-active {
							width: 27px;
							border-radius: 3px;
						}
					}
				}
			}
		}
	}

	&-item {
		.media:not(a.media) {
			position: relative;
			width: 100%;
			padding-top: 100%;
			overflow: hidden;
			border: 1px solid $ui-border-bounds;
		}

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			width: calc(100% - 120px);
			height: calc(100% - 120px);
			object-fit: contain;
			transform: translate(-50%, -50%);
		}

		a.media {
			&:after {
				content: "";
				position: absolute;
				top: 15px;
				right: 14px;
				color: #662d91;
				background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none"><path d="M14.3491 7.09318C13.9948 7.09318 13.7067 7.38134 13.7067 7.73559V12.8218C13.7067 13.3144 13.3059 13.7152 12.8133 13.7152H2.17824C1.68562 13.7152 1.28483 13.3144 1.28483 12.8218V2.18674C1.28483 1.69412 1.68562 1.29332 2.17824 1.29332H7.26441C7.61865 1.29332 7.90682 1.00515 7.90682 0.650908C7.90682 0.296661 7.61865 0.00862122 7.26441 0.00862122H2.17824C0.977128 0.00862122 0 0.985749 0 2.18674V12.8218C0 14.0229 0.977128 15 2.17824 15H12.8133C14.0144 15 14.9915 14.0229 14.9915 12.8218V7.73559C14.9915 7.38134 14.7033 7.09318 14.3491 7.09318Z" fill="currentColor"/></svg>');
				background-size: 15px;
				background-repeat: no-repeat;
				background-position: center;
			}

			img {
				transition:
					width 0.3s,
					height 0.3s;
			}
			&:hover {
				img {
					width: calc(100% - 80px);
					height: calc(100% - 80px);
				}
			}
		}
	}
}
