@import "../../assets/styles/scss/utilities/functions";
@import "../../assets/styles/scss/utilities/variables";
@import "../../assets/styles/scss/utilities/mixins";

.wp-block-elevation-cards-wrapper > * {
	display: inline-flex;
}

.wp-core-ui .cards-wrapper,
.wp-core-ui .cards-wrapper-secondary {
	background: transparent;
}

.cards-wrappers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
