.block__media-contacts{  
  padding: 40px 0;
  .block__container{
    position: relative;
    z-index: 1;
  }
  &::after {
    z-index: 0;
  }
  .block__media-contacts--row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    &.row-cols-xl-2{
      > * {
        flex: 0 0 auto;
        width: calc(50% - 10px);
      }
    }
    &.row-cols-xl-1{
      > * {
        flex: 0 0 auto;
        width: 100%;
      }
    }
  }
  .card {
    padding: 0;
    margin-top: 0;
    border: none;
    box-shadow: none;
  }
  .visually-hidden{
    height: 0;
    width: 0;
    visibility: hidden;
  }
}