@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "../../assets/styles/scss/utilities/_functions";
@import "../../assets/styles/scss/utilities/_variables";
@import "../../assets/styles/scss/utilities/_mixins";
@import "../../assets/styles/scss/layout/_social-networks";

$section: ".block__media-contacts";
#{$section} {
	padding: 80px 0;
	position: relative;

	&::after {
		content: "";
		background-color: #eae8e6;
		height: 100%;
		left: calc(-50vw + 50%);
		position: absolute;
		top: 0;
		width: 100vw;
		z-index: -1;
	}

	&.pt-0 {
		@include media-breakpoint-up(lg) {
			padding-top: 0 !important;
		}
	}
	&.pb-0 {
		@include media-breakpoint-up(lg) {
			padding-bottom: 0 !important;
		}
	}

	&--row {
		row-gap: 30px;
	}

	.block__inner-row {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		@include media-breakpoint-up(lg) {
			.block__inner-column {
				flex: 0 0 auto;
				&.col-xl-4 {
					width: calc(33.33333333% - 15px);
				}
				&.col-xl-8 {
					width: calc(66.66666667% - 15px);
				}
			}
		}
	}

	.card {
		background-color: #fff;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		position: relative;
		&__image--link,
		&__image,
		&__image--hover-effect {
			overflow: hidden;
			position: relative;
			width: 101%;
			height: 240px;
			@include media-breakpoint-down(lg) {
				height: 200px;
			}
		}
		&__image {
			img {
				bottom: unset;
				height: 101% !important;
				left: 50%;
				object-fit: cover;
				object-position: center;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 101%;
				z-index: 1;
			}
		}
		&__image--hover-effect {
			img {
				bottom: unset;
				height: 101% !important;
				left: 50%;
				object-fit: cover;
				object-position: center;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
				width: 101%;
				z-index: 1;
			}
		}
		&__body {
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 20px 30px 40px;
			> *,
			* > * {
				color: $text !important;
				margin: 0;
			}
			&__title,
			&__title > * {
				@include font-heading;
				font-size: px-to-rem(20px);
				font-weight: 500;
				letter-spacing: 0.04em;
				line-height: px-to-rem(28px);
				transition: all 0.3s ease-in-out;
				a {
					background-color: transparent;
					border-bottom-color: transparent;
					border-bottom-style: solid;
					border-bottom-width: px-to-rem(1.5px);
					display: inline;
					text-align: left;
					transition-duration: 0.4s;
					transition-property: border-bottom-color;
					transition-timing-function: ease-in-out;
				}
			}
			&__excerpt {
				@include font-body;
				font-style: normal;
				font-weight: 400;
				font-size: px-to-rem(14px);
				line-height: px-to-rem(25px);
				letter-spacing: 0.03em;
			}
			&__position {
				@include font-heading;
				font-weight: 500;
				font-size: px-to-rem(14px);
				line-height: px-to-rem(19px);
				letter-spacing: 1px;
				opacity: 0.5;
			}
			&__divider {
				margin-bottom: 22px;
				margin-top: 22px;
				opacity: 0.2;
			}
			&__contact {
				display: flex;
				flex-direction: column;
				row-gap: 20px;
				transition: all 0.3s ease-in-out;
				> *,
				* > * {
					@include font-heading;
					font-weight: 500;
					font-size: px-to-rem(14px);
					line-height: px-to-rem(21px);
					letter-spacing: 1px;
				}
				a {
					background-color: transparent;
					border-bottom-color: transparent;
					border-bottom-style: solid;
					border-bottom-width: px-to-rem(0.5px);
					display: inline;
					text-align: left;
					transition-duration: 0.4s;
					transition-property: border-bottom-color;
					transition-timing-function: ease-in-out;
					&:hover,
					&:focus,
					&:active {
						border-bottom-color: $text !important;
					}
				}
			}
			&__social {
				column-gap: 15px;
				display: flex;
			}
		}
		&:hover {
			.card {
				&__image--hover-effect {
					img {
						transform: translate(-50%, -50%) scale(1.1);
					}
				}
				&__body {
					&__title {
						text-decoration-line: none;
						a {
							border-bottom-color: $text !important;
						}
					}
				}
			}
		}
	}
}
