@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";

.main-archive {
	padding-bottom: 50px;
	.page-header {
		padding: 100px 0;
		background-color: $ui-background-light-01;
		margin-bottom: 50px;
	}

	.col-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	.col {
		width: 100%;

		@include media-breakpoint-up(md) {
			width: calc(50% - 20px);
		}

		@include media-breakpoint-up(lg) {
			width: calc(33.33% - 30px);
		}
	}

	.card {
		border: 1px solid $ui-background-light-01;
		border-radius: 5px;
		overflow: hidden;
		box-shadow: 0 0 10px rgba($ui-base-black, 0.1);
		height: 100%;
		display: flex;
		flex-direction: column;
		position: relative;

		&:focus-within,
		&:has(:hover) {
			.card__header {
				&::before {
					background-color: rgba($ui-base-black, 0.7);
				}
			}
		}

		&__body {
			padding: 20px;
			position: static;
		}

		&__header {
			position: relative;
			overflow: hidden;

			img {
				width: 100%;
				height: auto;
				display: block;
			}

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba($ui-base-black, 0.2);
				transition: all 0.3s;
				z-index: 2;
			}
		}

		&__title {
			position: static;
			a {
				position: static;
				text-decoration: none !important;
				@include stretched-link;

				&:hover {
					text-decoration: underline !important;
				}

				&::after {
					z-index: 2;
				}
			}
		}

		&__category {
			margin-top: 20px;

			& > .post-categories {
				padding: 0 !important;
				margin-bottom: 0 !important;
				display: flex;
				flex-wrap: wrap;
				gap: 5px;

				& > li {
					&::before {
						content: none !important;
					}

					& > a {
						padding: 3px 7px;
						border-radius: 4px;
						background-color: $ui-background-light-01;
						text-decoration: none !important;
					}
				}
			}
		}

		&__date-author {
			font-size: px-to-rem(14px);
			font-size: 500;
			@include font-heading;
			margin-bottom: 20px;
			display: block;
		}
	}
}
