@import "../../assets/styles/scss/utilities/functions";
@import "../../assets/styles/scss/utilities/variables";
@import "../../assets/styles/scss/utilities/mixins";
@import "../../critical-assets/styles/scss/layout/custom-container";

.wp-block-elevation-custom-container {
	position: relative;
	border: 2px solid $ui-foreground-primary-text-headings;
	min-height: 100px;
}
