@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";
@import "swiper/css/bundle";

.image-carousel-fixed-with-hover {

    .wp-block-elevation-interior-components--swiper {
        overflow-x: hidden;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 40px;

        .block-editor-inner-blocks {
            max-width: 700px;
        }

        .block-editor-inserter {
            position: initial;
            height: 580px;

        }

        .block-list-appender {
            position: static !important;

            .block-editor-default-block-appender {
                height: 580px;
            }

            &__toggle {
                width: 65px !important;
                height: 580px !important;
                opacity: 0.9;
            }

            .block-editor-inserter__toggle {
                width: 65px !important;
                height: 580px !important;
                opacity: 0.9;
            }

        }

        .swiper-controls__container {
            display: flex;
            margin-top: 30px;
            gap: 15px;
            padding-bottom: 20px;
            padding-left: 3px;

            button {
                justify-content: center;
                width: 150px;
            }
        }
    }
}