@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "../../assets/styles/scss/utilities/_functions";
@import "../../assets/styles/scss/utilities/_variables";
@import "../../assets/styles/scss/utilities/_mixins";

$section: ".block__template-contact-box";
#{$section} {
	padding: 80px 0;

	.block__row-inner {
		display: flex;
		flex-wrap: wrap;
		row-gap: 10px;
		@include media-breakpoint-down(lg) {
			column-gap: 30px;
			flex-direction: column;
		}
		@include media-breakpoint-up(lg) {
			> * {
				flex: 0 0 auto;
				width: calc(50% - 15px);
			}
		}
	}

	.block__box {
		padding: 80px 66px;
		background-color: $light-grey;
		@include media-breakpoint-down(sm) {
			padding: 50px 33px;
		}
	}
}
