@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";
@import "../../../assets/styles/scss/utilities/default-variables";

$block: '.impact-default-content-centered';

#{$block} {
	margin-bottom: 30px;

	.wp-block-elevation-interior-components--group:not(#{$block}__row) {
		text-align: center;

		@include media-breakpoint-up(xl) {
			max-width: 870px;
			margin: 0 auto;
		}

		.buttons {
			justify-content: center;
		}
	}

	.spacer {
		border-color: var(--border-color-impact-default) !important;
	}

	&__row {
		display: grid;
		column-gap: 15px;

		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media-breakpoint-up(lg) {
			column-gap: 0px;
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&-item {
		opacity: 1;
		position: relative;
		overflow: hidden;
		width: 100%;
		border: none;
		margin-block-start: 0px !important;
		padding-bottom: 15px;
		border-radius: 2px;
		padding: 40px 20px 25px 20px;

		@include media-breakpoint-down(md) {
			&:first-of-type {
				padding-top: 0px;
			}

			&:not(:last-child) {
				border-bottom: 1px solid var(--border-color-impact-default);
			}
		}

		@include media-breakpoint-up(lg) {
			padding: 17px 42px 0px 42px;

			&:not(:first-child) {
				border-left: 1px solid var(--border-color-impact-default);
			}
		}

		&:last-child {
			padding-right: 0px;
		}

		&:first-child {
			padding-left: 0px;
		}

		&__value {
			display: flex;
			margin: 0px;
			justify-content: flex-end;
			font-weight: 500;
		}

		&__header {
			display: flex;
			margin-bottom: 12px;
			justify-content: center;

			*,
			*>* {
				color: var(--color);
			}
		}

		&__content {
			text-align: center;
			color: var(--color);
		}
	}
}