@import "../../assets/styles/scss/utilities/functions";
@import "../../assets/styles/scss/utilities/variables";
@import "../../assets/styles/scss/utilities/mixins";
@import "../../critical-assets/styles/scss/layout/custom-container";

.cards-long-description-icons-card {


	&__control-icon {
		margin-bottom: 20px;

		&-picker {
			width: 60px;
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			padding: 16px;
			margin: 0 auto 15px auto;
		}

		&__colors {
			margin-top: 15px;
			padding-top: 15px;
			border-top: 1px solid #ddd;
		}
	}

	&>img {
		height: 100% !important;
	}



	&__figure {
		img {
			height: 100% !important;
		}
	}

	&__container {
		width: calc(100% - 40px) !important;
		height: calc(100% - 40px) !important;
	}

	.wp-block-heading {
		margin-bottom: 12px;
		margin-top: 20px;
	}

}