@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";
@import "../../../assets/styles/scss/utilities/default-variables"; // check

$section: ".text-block-quote";
#{ $section } {
	opacity: 1;
	position: relative;
	padding-left: 34px;

	&__border {
		width: 3px;
		height: calc(100% - 35px);
		border-left-width: 3px;
		border-left-style: solid;
		position: absolute;
		width: 21px;
		left: 9px;
		bottom: 0;

		svg {
			margin-bottom: 13px;
			position: absolute;
			top: -29px;
			transform: translateX(-50%);
		}
	}
}
