@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";

.video-default {
    &__container {
        border: none;

        >.block-editor-inner-blocks {
            >.block-editor-block-list__layout {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;

                // @include media-breakpoint-down(xl) {
                // flex-direction: column;
                // }
            }
        }
    }
}