@import "../../../assets/styles/scss/utilities/variables";

.callout-background-content-box-centered {
	min-height: unset;

	&__background {
		height: 100% !important;
		img{
			height: 100% !important;
		}
	}

	&__wrapper{
		width: auto !important;
	}

	&__container{
		max-width: calc(100% - 30px);
		margin: 0 auto;
	}


	.wp-block-group-is-layout-flow{
		.wp-block + .wp-block{
			margin-top: 12px;
		}
		.wp-block-heading{
			margin: 0;
			color: $ui-base-white;
		}

		.wp-block + .wp-block-elevation-interior-components--buttons{
			margin-top: 24px;
		}

		.wp-block-elevation-interior-components--buttons{
			input{
				text-align: start;
			}
		}
	}

}

