@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";

.timeline-vertical {
	opacity: 1;

	&-year {
		&__section-items {
			position: relative;
			display: flex;
			flex-direction: column;
			padding-top: 40px;

			&::after {
				content: "";
				display: block;
				width: 2px;
				height: 0%;
				background-color: $ui-border-line-divider-on-light;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);

				@media (prefers-reduced-motion) {
					animation: heightGrowth 0s forwards;
				}
			}

			&:has(.animate) {
				&::after {
					animation: heightGrowth 2s ease-in-out forwards;
					animation-delay: 0.5s;
				}
			}
		}
		&__section-title {
			display: flex;
			justify-content: center;

			.wp-block-heading {
				width: auto;
				height: auto;
				display: inline-flex;
				align-items: center;
				padding: 6px 10px;
				border-radius: 4px;
				line-height: 140%;
				margin-bottom: 0;
			}
		}
	}

	&-item {
		border: 1px solid $ui-border-bounds;
		border-radius: 2px;
		padding: 10px;
		width: calc(50% - 41px);
		position: relative;
		z-index: 5;

		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: $ui-foreground-primary-text-highlight-text;
			top: 0;
			z-index: 5;
			opacity: 0;
		}

		&:nth-child(odd) {
			align-self: flex-start;
			&::after {
				right: -52px;
			}
		}
		&:nth-child(even) {
			align-self: flex-end;
			&::after {
				left: -52px;
			}
		}

		&.animate {
			&:nth-child(odd) {
				&::after {
					animation: fromLeft 0.4s ease-in-out forwards;
					animation-delay: 0.3s;
				}
			}
			&:nth-child(even) {
				&::after {
					animation: fromRight 0.4s ease-in-out forwards;
					animation-delay: 0.3s;
				}
			}
		}

		p.has-h-5-font-size {
			margin-bottom: 10px;
		}

		&__image {
			margin-bottom: 30px;
		}
	}
}

@keyframes heightGrowth {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}

@keyframes fromLeft {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fromRight {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
