@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";
@import "../../../critical-assets/styles/scss/layout/custom-container";

.lists-intro-text-with-content-boxes-box {
	padding-top: 50px;
	&__container {
		width: 100%;
		border: none;
	}

	&__container {
		justify-content: flex-start;
	}

	.wp-block-heading {
		margin-top: 0px;

		&::after {
			content: none;
		}
	}


}