@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";

.feed-events-horizontal {
	position: relative;
	opacity: 1;

	&-container {
		opacity: 1;

		&__container {
			display: flex;
			flex-direction: column;
			position: relative;
			padding: 0px;
			gap: 30px;
		}
	}

	.card {
		position: relative;
		transition: box-shadow 0.2s ease-in-out;
		display: flex;
		align-items: stretch;
		justify-content: stretch;
		height: auto;
		gap: 40px;
		width: auto;
		padding: 20px 40px;
		box-shadow: none;
		border-radius: 2px;
		background-color: $ui-base-white;
		max-width: 100%;
		flex-direction: column;

		@include media-breakpoint-up(lg) {
			flex-direction: row;
		}

		&__image {
			position: relative;
			overflow: hidden;
			border-radius: 2px;
			display: flex;
			width: 100%;

			@include media-breakpoint-up(lg) {
				height: 237px;
				width: 294px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 2px;
				object-position: center;
				transition: transform 0.3s ease-in-out;
			}
		}

		&__body {
			display: flex;
			flex-direction: column;
			flex: 1;

			* {
				transform: none;
			}

			&__header {
				display: flex;
				gap: 20px;
				align-items: center;
				flex-wrap: wrap;
			}
		}

		&__category {
			@include media-breakpoint-down(md) {
				width: 100%;
			}

			span {
				font-size: px-to-rem(14px);
				font-weight: 500;
				line-height: 142.857%;
				letter-spacing: px-to-rem(0.14px);
				color: $ui-foreground-primary-text-headings;
				padding: 6px 10px;
				border: 1px solid $ui-border-bounds;
				border-radius: 4px;
			}
		}

		&__full-date {
			display: flex;
			align-items: center;
			gap: 8px;
		}

		&__date {
			font-size: px-to-rem(14px);
			font-style: normal;
			font-weight: 500;
			line-height: px-to-rem(20px);
			letter-spacing: px-to-rem(0.14px);
			display: flex;
			align-items: center;
			gap: 10px;

			&::before {
				content: "";
				background-image: url('data:image/svg+xml,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_5854_6393)"><path d="M14.1215 1.07484C14.2828 1.07484 14.4143 1.20389 14.4143 1.36226V13.6377C14.4143 13.7961 14.2828 13.9252 14.1215 13.9252H0.878512C0.717158 13.9252 0.585674 13.7961 0.585674 13.6377V1.36226C0.585674 1.20389 0.717158 1.07484 0.878512 1.07484H14.1215ZM14.1215 0.5H0.878512C0.39328 0.5 0 0.886007 0 1.36226V13.6377C0 14.114 0.39328 14.5 0.878512 14.5H14.1215C14.6067 14.5 15 14.114 15 13.6377V1.36226C15 0.886007 14.6067 0.5 14.1215 0.5Z" fill="%2347127E"/><path d="M10.4976 4.26758H9.68935C9.56158 4.26758 9.45801 4.36924 9.45801 4.49464V5.28792C9.45801 5.41333 9.56158 5.51499 9.68935 5.51499H10.4976C10.6253 5.51499 10.7289 5.41333 10.7289 5.28792V4.49464C10.7289 4.36924 10.6253 4.26758 10.4976 4.26758Z" fill="%2347127E"/><path d="M7.9761 4.26758H7.16786C7.0401 4.26758 6.93652 4.36924 6.93652 4.49464V5.28792C6.93652 5.41333 7.0401 5.51499 7.16786 5.51499H7.9761C8.10386 5.51499 8.20744 5.41333 8.20744 5.28792V4.49464C8.20744 4.36924 8.10386 4.26758 7.9761 4.26758Z" fill="%2347127E"/><path d="M5.45461 4.26758H4.64638C4.51861 4.26758 4.41504 4.36924 4.41504 4.49464V5.28792C4.41504 5.41333 4.51861 5.51499 4.64638 5.51499H5.45461C5.58238 5.51499 5.68595 5.41333 5.68595 5.28792V4.49464C5.68595 4.36924 5.58238 4.26758 5.45461 4.26758Z" fill="%2347127E"/><path d="M10.4976 6.74268H9.68935C9.56158 6.74268 9.45801 6.84434 9.45801 6.96974V7.76302C9.45801 7.88842 9.56158 7.99008 9.68935 7.99008H10.4976C10.6253 7.99008 10.7289 7.88842 10.7289 7.76302V6.96974C10.7289 6.84434 10.6253 6.74268 10.4976 6.74268Z" fill="%2347127E"/><path d="M12.8755 4.26758H12.0673C11.9395 4.26758 11.8359 4.36924 11.8359 4.49464V5.28792C11.8359 5.41333 11.9395 5.51499 12.0673 5.51499H12.8755C13.0033 5.51499 13.1069 5.41333 13.1069 5.28792V4.49464C13.1069 4.36924 13.0033 4.26758 12.8755 4.26758Z" fill="%2347127E"/><path d="M12.8755 6.74268H12.0673C11.9395 6.74268 11.8359 6.84434 11.8359 6.96974V7.76302C11.8359 7.88842 11.9395 7.99008 12.0673 7.99008H12.8755C13.0033 7.99008 13.1069 7.88842 13.1069 7.76302V6.96974C13.1069 6.84434 13.0033 6.74268 12.8755 6.74268Z" fill="%2347127E"/><path d="M7.9761 6.74268H7.16786C7.0401 6.74268 6.93652 6.84434 6.93652 6.96974V7.76302C6.93652 7.88842 7.0401 7.99008 7.16786 7.99008H7.9761C8.10386 7.99008 8.20744 7.88842 8.20744 7.76302V6.96974C8.20744 6.84434 8.10386 6.74268 7.9761 6.74268Z" fill="%2347127E"/><path d="M5.45461 6.74268H4.64638C4.51861 6.74268 4.41504 6.84434 4.41504 6.96974V7.76302C4.41504 7.88842 4.51861 7.99008 4.64638 7.99008H5.45461C5.58238 7.99008 5.68595 7.88842 5.68595 7.76302V6.96974C5.68595 6.84434 5.58238 6.74268 5.45461 6.74268Z" fill="%2347127E"/><path d="M2.93313 6.74268H2.1249C1.99713 6.74268 1.89355 6.84434 1.89355 6.96974V7.76302C1.89355 7.88842 1.99713 7.99008 2.1249 7.99008H2.93313C3.06089 7.99008 3.16447 7.88842 3.16447 7.76302V6.96974C3.16447 6.84434 3.06089 6.74268 2.93313 6.74268Z" fill="%2347127E"/><path d="M10.4976 11.5205H9.68935C9.56158 11.5205 9.45801 11.6222 9.45801 11.7476V12.5409C9.45801 12.6663 9.56158 12.7679 9.68935 12.7679H10.4976C10.6253 12.7679 10.7289 12.6663 10.7289 12.5409V11.7476C10.7289 11.6222 10.6253 11.5205 10.4976 11.5205Z" fill="%2347127E"/><path d="M12.8755 11.5205H12.0673C11.9395 11.5205 11.8359 11.6222 11.8359 11.7476V12.5409C11.8359 12.6663 11.9395 12.7679 12.0673 12.7679H12.8755C13.0033 12.7679 13.1069 12.6663 13.1069 12.5409V11.7476C13.1069 11.6222 13.0033 11.5205 12.8755 11.5205Z" fill="%2347127E"/><path d="M7.9761 11.5205H7.16786C7.0401 11.5205 6.93652 11.6222 6.93652 11.7476V12.5409C6.93652 12.6663 7.0401 12.7679 7.16786 12.7679H7.9761C8.10386 12.7679 8.20744 12.6663 8.20744 12.5409V11.7476C8.20744 11.6222 8.10386 11.5205 7.9761 11.5205Z" fill="%2347127E"/><path d="M5.45461 11.5205H4.64638C4.51861 11.5205 4.41504 11.6222 4.41504 11.7476V12.5409C4.41504 12.6663 4.51861 12.7679 4.64638 12.7679H5.45461C5.58238 12.7679 5.68595 12.6663 5.68595 12.5409V11.7476C5.68595 11.6222 5.58238 11.5205 5.45461 11.5205Z" fill="%2347127E"/><path d="M10.4976 9.21777H9.68935C9.56158 9.21777 9.45801 9.31943 9.45801 9.44484V10.2381C9.45801 10.3635 9.56158 10.4652 9.68935 10.4652H10.4976C10.6253 10.4652 10.7289 10.3635 10.7289 10.2381V9.44484C10.7289 9.31943 10.6253 9.21777 10.4976 9.21777Z" fill="%2347127E"/><path d="M7.9761 9.21777H7.16786C7.0401 9.21777 6.93652 9.31943 6.93652 9.44484V10.2381C6.93652 10.3635 7.0401 10.4652 7.16786 10.4652H7.9761C8.10386 10.4652 8.20744 10.3635 8.20744 10.2381V9.44484C8.20744 9.31943 8.10386 9.21777 7.9761 9.21777Z" fill="%2347127E"/><path d="M5.45461 9.21777H4.64638C4.51861 9.21777 4.41504 9.31943 4.41504 9.44484V10.2381C4.41504 10.3635 4.51861 10.4652 4.64638 10.4652H5.45461C5.58238 10.4652 5.68595 10.3635 5.68595 10.2381V9.44484C5.68595 9.31943 5.58238 9.21777 5.45461 9.21777Z" fill="%2347127E"/><path d="M2.93313 9.21777H2.1249C1.99713 9.21777 1.89355 9.31943 1.89355 9.44484V10.2381C1.89355 10.3635 1.99713 10.4652 2.1249 10.4652H2.93313C3.06089 10.4652 3.16447 10.3635 3.16447 10.2381V9.44484C3.16447 9.31943 3.06089 9.21777 2.93313 9.21777Z" fill="%2347127E"/><path d="M14.6626 13.5181H0.439453V13.9225H14.6626V13.5181Z" fill="%2347127E"/><path d="M14.6204 0.873535H0.379883V3.11354H14.6204V0.873535Z" fill="%2347127E"/></g><defs><clipPath id="clip0_5854_6393"><rect width="15" height="14" fill="white" transform="translate(0 0.5)"/></clipPath></defs></svg>');
				width: 15px;
				height: 15px;
				display: flex;
				background-size: cover;
			}
		}

		&__time {
			font-size: px-to-rem(14px);
			font-style: normal;
			font-weight: 500;
			line-height: px-to-rem(20px);
			letter-spacing: px-to-rem(0.14px);
			display: flex;
			align-items: center;
			gap: 10px;

			&::before {
				content: "";
				background-image: url('data:image/svg+xml,<svg width="21" height="1" viewBox="0 0 21 1" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="21" height="1" fill="%23D5D4DC"/></svg>');
				display: flex;
				background-size: cover;
				width: 21px;
				height: 1px;
			}
		}

		&__title {
			transition: all 0.3s ease-in-out;
			text-decoration: none;
			margin: 12px 0px 24px 0px;

			span,
			a {
				margin: 0px;
				background-color: transparent;
				border-bottom-color: transparent;
				border-bottom-style: solid;
				border-bottom-width: px-to-rem(2px);
				display: inline;
				text-align: left;
				transition-duration: 0.4s;
				transition-property: border-bottom-color;
				transition-timing-function: ease-in-out;
				overflow-wrap: break-word;
				white-space: normal;
				word-break: break-word;
				text-decoration: none !important;
			}
		}

		.stretched-link-custom {
			display: block;
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		&:focus-visible {
			box-shadow: 0 0 0 0.25rem $ui-foreground-primary-text-headings;
		}

		@include media-breakpoint-up(xl) {
			&:active,
			&:hover {
				box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);

				.card {
					&__image {
						&-image {
							transform: scale(1.1);
						}
					}

					&__title {
						text-decoration: none;

						span,
						a {
							text-decoration: none;
							border-bottom-color: $ui-foreground-primary-text-links !important;
							color: $ui-foreground-primary-text-links !important;
						}
					}
				}
			}
		}
	}
}

#primary .feed-event-carousel__card-title a {
	text-decoration: none !important;

	&:hover {
		text-decoration: underline !important;
	}
}
