@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";
@import "../../../assets/styles/scss/utilities/default-variables"; // check
@import "../../../assets/styles/scss/utilities/mixins/cta"; // check

.wp-block-elevation-interior-components--buttons  * {
	display: inline-flex;
}

.buttons {
	.components-text-control__input {
		background-color: transparent;
		border: none;
		text-align: center;
		width: 100%;
	}

	.components-base-control__field {
		margin: 0;
	}

	.cta {

		&--primary-1,
		&--primary-2,
		&--primary-3,
		&--primary-4,
		&--primary-inverse,
		&--secondary,
		&--secondary-inverse,
		&--tertiary,
		&--tertiary-inverse,
		&--fourth,
		&--fourth-inverse {
			.button {
				border: none !important;
			}

			input {
				@include cta;

				&::placeholder {
					color: $ui-base-white !important;
				}
			}
		}

		&--primary-1 {
			input {
				@include cta--primary;
				@include cta--primary-1;
			}
		}

		&--primary-2 {
			input {
				@include cta--primary;
				@include cta--primary-2;
			}
		}

		&--primary-3 {
			input {
				@include cta--primary;
				@include cta--primary-3;
			}
		}

		&--primary-4 {
			input {
				@include cta--primary;
				@include cta--primary-4;
			}
		}

		&--primary-inverse {
			input {
				@include cta--primary;
				@include cta--primary-inverse;
			}
		}

		&--secondary {
			input {
				border: none !important;
				@include cta--secondary;
			}
		}

		&--secondary-inverse {
			input {
				@include cta--secondary-inverse;
			}
		}

		&--tertiary {
			display: flex;

			input {
				@include cta--tertiary;
			}
		}

		&--tertiary-inverse {
			display: flex;

			input {
				@include cta--tertiary-inverse;
			}
		}

		&--fourth {
			input {
				@include cta--fourth;
			}
		}

		&--fourth-inverse {
			input {
				@include cta--fourth-inverse;
			}
		}
	}
}