@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";
@import "../../../assets/styles/scss/utilities/default-variables";

.separator-three-images {
	opacity: 1;
	position: relative;
	overflow: hidden;

	&__container {
		display: flex;
		align-items: center;
		gap: 5px;
		flex-wrap: wrap;

		@include media-breakpoint-up(sm) {
			gap: 15px;
		}

		@include media-breakpoint-up(xl) {
			gap: 20px;
		}

		.media {
			margin-top: 0px;
			aspect-ratio: 1 / 1;
			width: calc(33.3% - 4px);

			@include media-breakpoint-up(sm) {
				width: calc(33.3% - 10px);
			}

			@include media-breakpoint-up(xl) {
				width: calc(33.3% - 13px);
			}

			img {
				height: 100%;
				object-fit: cover;
				min-width: 100%;
			}
		}

		.media-caption {
			@include visually-hidden;
		}
	}

	&.ratio {
		&-1-1 {
			.media {
				aspect-ratio: 1 / 1;
			}
		}
		&-3-2 {
			.media {
				aspect-ratio: 3 / 2;
			}
		}
		&-4-3 {
			.media {
				aspect-ratio: 4 / 3;
			}
		}
		&-5-4 {
			.media {
				aspect-ratio: 5 / 4;
			}
		}
		&-16-9 {
			.media {
				aspect-ratio: 16 / 9;
			}
		}
	}
}
