@import "../../assets/styles/scss/utilities/functions";
@import "../../assets/styles/scss/utilities/variables";
@import "../../assets/styles/scss/utilities/mixins";

.lists-default-with-intro-text-icons {
	.wp-block-heading {
		margin-top: 0px;
	}

	.lists-default-with-intro-text-icons__custom-container {
		border: none;

		>.block-editor-inner-blocks {
			width: 100%;

			>.block-editor-block-list__layout {
				display: flex;
				gap: 80px;

				>div {
					&:first-child {
						flex-shrink: 0;
						max-width: 370px;
					}
				}
			}
		}
	}

	.lists-default-with-intro-text-icons-item__container-group {
		border: none;

		>.block-editor-inner-blocks {
			>.block-editor-block-list__layout {
				display: flex;
				gap: 20px;
				flex-wrap: wrap;
			}
		}
	}
}