@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";
@import "../../../assets/styles/scss/utilities/default-variables";

$block: ".logos-descriptions";

#{$block} {
	// Define the default number of columns
	--columns: 1;
	--gap: 30px;

	@include media-breakpoint-up(sm) {
		--columns: 2;
	}

	@include media-breakpoint-up(lg) {
		--columns: 4;
	}

	// Allow columns to be adjusted via the data-columns attribute
	&[data-columns="3"] {
		@include media-breakpoint-up(lg) {
			--columns: 3;
		}
	}
	&[data-columns="2"] {
		@include media-breakpoint-up(lg) {
			--columns: 2;
		}
	}

	p:not(#{$block}__items p),
	.wp-block-heading:not(#{$block}__items .wp-block-heading) {
		width: 100%;
		max-width: 982px;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: var(--gap);
	}

	&-item {
		position: relative;
		width: calc(
			(100% / var(--columns)) -
				(var(--gap) * (var(--columns) - 1) / var(--columns))
		);
		display: flex;
		flex-direction: column;

		&:focus-within,
		&:has(:hover) {
			.media {
				border-color: $ui-border-input-controls-active;
			}
		}

		.media {
			position: relative;
			width: 100%;
			padding-top: 100%;
			overflow: hidden;
			border: 1px solid $ui-border-bounds;
			margin-bottom: 20px;
		}

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			width: calc(100% - 120px);
			height: calc(100% - 120px);
			object-fit: contain;
			transform: translate(-50%, -50%);
		}

		.stretched-link {
			@include stretched-link;
		}
	}
}
