@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";
@import "../../../assets/styles/scss/utilities/default-variables";

$block: '.impact-content-boxes-with-icons';

#{$block} {
	margin-bottom: 30px;

	&__row {
		display: grid;
		gap: 24px;

		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media-breakpoint-up(lg) {
			grid-template-columns: repeat(3, 1fr);
		}
	}


	&-item {
		opacity: 1;
		position: relative;
		overflow: hidden;
		width: 100%;
		border: none;
		margin-block-start: 0px !important;
		padding-bottom: 15px;
		border-radius: 2px;
		background: var(--background-color, #fff);
		padding: 40px 20px 25px 20px;

		@include media-breakpoint-up(lg) {
			padding: 60px 30px 25px 30px;
		}

		&__value {
			display: flex;
			margin: 0px;
			justify-content: flex-end;
			font-weight: 500;
		}

		&__header {
			display: flex;
			margin-bottom: 12px;
			padding-bottom: 32px;
			border-bottom: 3px solid var(--border-color, #E0E0E0);
			justify-content: space-between;
			align-items: center;
		}

		&__icon-container {
			img {
				max-width: 65px;
				max-height: 65px;
			}
		}

		&__content {
			grid-column: 1/3;
		}

		&__icon-container {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;

			img {
				height: auto;
				width: auto;
			}
		}
	}
}