@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";
@import "../../../critical-assets/styles/scss/layout/custom-container";

.lists-default-with-icons-item {
	width: auto;
	flex: 1;

	&__container {
		width: 100%;
	}

	&__container {
		flex-direction: column;
		justify-content: flex-start;
	}

	.wp-block-heading {
		margin-top: 0px;

		&::after {
			content: none;
		}
	}


}