@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";
@import "swiper/css/bundle";

.image-carousel-horizontal-centered {
	opacity: 1;

	.swiper {
		&__container {
			max-width: 870px;
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 66px;
		}

		.swiper-button-next,
		.swiper-button-prev {

			&::after {
				content: "";
				width: 76px;
				height: 76px;
				flex-shrink: 0;
				background-image: url('data:image/svg+xml,<svg width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="38" cy="38" r="37.5" fill="%23FBF9F8" stroke="%23D5D4DC"/><path d="M34.5199 31.8547C34.3262 31.6609 34.2174 31.3982 34.2174 31.1242C34.2174 30.8502 34.3262 30.5875 34.5199 30.3937C34.7137 30.2 34.9764 30.0911 35.2504 30.0911C35.5244 30.0911 35.7871 30.2 35.9809 30.3937L42.8559 37.2687C42.952 37.3645 43.0283 37.4784 43.0803 37.6037C43.1324 37.7291 43.1592 37.8635 43.1592 37.9992C43.1592 38.1349 43.1324 38.2693 43.0803 38.3947C43.0283 38.52 42.952 38.6339 42.8559 38.7297L35.9809 45.6047C35.7871 45.7984 35.5244 45.9072 35.2504 45.9072C34.9764 45.9072 34.7137 45.7984 34.5199 45.6047C34.3262 45.4109 34.2174 45.1482 34.2174 44.8742C34.2174 44.6002 34.3262 44.3375 34.5199 44.1437L40.6636 38L34.5199 31.8547Z" fill="%23210044"/></svg>');
			}
		}


		.swiper-pagination-bullet {
			transition: width .2s ease-in-out;
		}

		.swiper-pagination-bullet-active {
			width: 27px;
			border-radius: 3px;
		}

		.swiper-button-prev {
			&::after {
				transform: rotate(180deg);
			}
		}

		.swiper-pagination {
			position: relative;
		}


		.image-carousel {
			transition: all .2s;
			opacity: 0.5;

			&.swiper-slide-active {
				opacity: 1;
			}

			.media {
				width: 100%;
				height: 100%;

				&-image {
					height: 580px;
					width: 100%;
					object-fit: cover;
				}
			}
		}

	}
}