@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";
@import "swiper/css/bundle";

.image-carousel {
    .components-placeholder.components-placeholder {
        height: 580px;
        align-items: center;
        justify-content: center;
    }

    .components-placeholder__fieldset {
        justify-content: center;
    }
}