@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";

@import "swiper/css/bundle";

.video-carousel-item {
	height: 323px !important;

	.components-placeholder {
		height: 323px !important;
		max-height: 323px !important;

		&__fieldset {
			height: 100%;
			justify-content: center;
			display: flex;
			flex-direction: column;
		}
	}
}