$swal2-width: 100%;

@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";


.image-carousel {
	transition: all .2s;

	.image-with-srcset {
		width: 100%;
		height: 100%;

		&__img {
			height: 580px;
			width: 100%;
			object-fit: cover;
		}
	}
}


.video-carousel-item {
	opacity: 1;
	position: relative;
	padding: 65px 0;
	min-height: 585px;
	// background-color: $ui-foreground-primary-accent-03;
	// color: $ui-base-white;
	display: flex;
	align-items: flex-end;

	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		z-index: 1;
		object-fit: cover;
		object-position: center;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0.3;
			// background: $ui-foreground-primary-text-text-button_on-dark;
			z-index: 3;
		}

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0.45;
			background: linear-gradient(270deg,
					#000 12.52%,
					rgba(23, 23, 23, 0.45) 32.28%,
					rgba(42, 42, 42, 0) 57.18%);
			z-index: 3;
		}
	}

	&__container {
		position: relative;
		z-index: 2;
	}

	&__wrapper {
		width: 534px;
		max-width: 100%;
	}

	&__button {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border: none;
		background-color: transparent;
		font-size: px-to-rem(17px);
		font-weight: 700;
		line-height: 1.1;
		color: inherit;
		width: 190px;
		padding: 0;
		gap: 12px;
		text-align: left;
		cursor: pointer;

		&::before {
			content: "";
			color: white;
			background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none"><path d="M23.4238 46.8477C10.5079 46.8477 0 36.3397 0 23.4238C0 10.5079 10.5079 0 23.4238 0C36.3397 0 46.8477 10.5079 46.8477 23.4238C46.8477 36.3397 36.3397 46.8477 23.4238 46.8477ZM23.4238 2.43444C11.85 2.43444 2.43413 11.8503 2.43413 23.4238C2.43413 34.9974 11.85 44.4135 23.4238 44.4135C34.9977 44.4135 44.4135 34.9977 44.4135 23.4238C44.4135 11.85 34.9974 2.43444 23.4238 2.43444Z" fill="white"/><path d="M18.0332 12.8957V33.9523C18.0332 34.575 18.7869 34.9407 19.3351 34.5827L35.4528 24.0564C35.9223 23.7498 35.9223 23.102 35.4528 22.7953L19.3351 12.2653C18.7872 11.9073 18.0332 12.2722 18.0332 12.8957Z" fill="white"/></svg>');
			background-repeat: no-repeat;
			background-size: 47px 47px;
			width: 47px;
			height: 47px;
			min-width: 47px;
			min-height: 47px;
		}
	}

	&__popup {
		&.swal2-backdrop-show {
			// background-color: rgba($ui-base-overlay, 0.5);
		}

		.swal2-popup {
			padding-bottom: 0;
			border-radius: 3px;
			width: 645px;
			max-width: 90%;
		}

		.swal2-container,
		.swal2-popup {
			background-color: black;
		}

		.swal2-html-container {
			padding: 0;
			aspect-ratio: 16/9;

			iframe,
			video {
				aspect-ratio: 16/9;
			}
		}

		.swal2-close {
			width: 48px;
			height: 48px;
			margin-bottom: -48px;
		}
	}
}