@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";

.image-carousel-horizontal-left-aligned {
	opacity: 1;

	.swiper {
		overflow: visible;

		&__container {
			position: relative;
			padding: 0px;

			.swiper-wrapper {
				width: 100%;
				display: flex;
			}

			&-actions {
				display: flex;
				justify-self: flex-end;
				order: 2;
				gap: 32px;
				margin-top: 0px;
				width: 72px;
				margin-top: 30px;

				@include media-breakpoint-up(lg) {
					justify-content: space-between;
				}

				.swiper-pagination {
					position: relative;
				}

				.swiper-button-next,
				.swiper-button-prev {
					margin-top: 0px;
					position: initial;
					width: 20px;
					height: 16px;

					&::after {
						content: "";
						width: 20px;
						height: 16px;
						flex-shrink: 0;
						background-size: cover;

						@include media-breakpoint-up(lg) {
							width: 20px;
							height: 16px;
						}
					}
				}

				.swiper-button-prev {
					&::after {
						background-image: url('data:image/svg+xml,<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 9C19.5523 9 20 8.55228 20 8C20 7.44772 19.5523 7 19 7V9ZM0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM19 7L1 7V9L19 9V7Z" fill="%23210044"/></svg>');
					}
				}

				.swiper-button-next {
					&::after {
						background-image: url('data:image/svg+xml,<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7C0.447715 7 9.65645e-08 7.44772 0 8C-9.65645e-08 8.55228 0.447715 9 1 9L1 7ZM19.7071 8.70711C20.0976 8.31659 20.0976 7.68342 19.7071 7.2929L13.3431 0.928934C12.9526 0.53841 12.3195 0.53841 11.9289 0.928934C11.5384 1.31946 11.5384 1.95262 11.9289 2.34315L17.5858 8L11.9289 13.6569C11.5384 14.0474 11.5384 14.6805 11.9289 15.0711C12.3195 15.4616 12.9526 15.4616 13.3431 15.0711L19.7071 8.70711ZM1 9L19 9L19 7L1 7L1 9Z" fill="%238A55B3"/></svg>');
					}
				}
			}

			&-controls {
				display: flex;
				height: 10px;
				order: 1;
				width: calc(100% - 92px);
				margin-top: -16px;

				.swiper-pagination {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					top: unset;
					bottom: unset;
					position: initial;

					.swiper-pagination-bullet {
						background-color: $ui-button-primary-color-01;
						opacity: 1;
						transition:
							200ms transform,
							200ms left,
							0.2s width !important;
						position: initial;

						&-active {
							width: 27px;
							border-radius: 3px;
						}
					}
				}
			}
		}

		.image-carousel {
			transition: all 0.2s;
			// max-width: 100%;
			// width: 100%;
			width: fit-content;
			border-radius: 2px;
			position: relative;

			// @include media-breakpoint-up(xl) {
			// 	width: auto;
			// }

			&.swiper-slide-active {
				.media {
					&-image {
						filter: none;
					}

					&-caption {
						display: block;
					}
				}
			}

			.media {
				height: 100%;
				display: block;
				border-radius: 2px;

				&-image {
					display: block;
					object-fit: contain;
					height: 380px;
					background: rgba(
						$color: $ui-background-secondary,
						$alpha: 0.2
					);
					width: 100%;

					@include media-breakpoint-up(xl) {
						object-fit: cover;
						height: 620px;
					}
				}

				&-caption {
					font-size: 16px;
					font-style: normal;
					margin-top: 28px;
					display: block;

					@include media-breakpoint-up(xl) {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						padding: 20px;
						background: rgba(17, 17, 17, 0.5);
						color: $ui-base-white;
						font-weight: 700;
					}
				}
			}
		}
	}
}
