@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";

.testimonial-carousel {
	opacity: 1;

	.swiper {
		&__container {
			position: relative;
			display: flex;
			flex-direction: column;
			padding: 0px;
			gap: 30px;

			&-actions {
				justify-content: flex-end;
				gap: 30px;
				position: absolute;
				width: 100%;
				height: 0;
				left: 0;
				padding: 0;
				display: none;
				top: calc(50% - 15px);
				transform: translateY(-50%);
				z-index: 10;

				@include media-breakpoint-up(md) {
					display: flex;
				}

				@include media-breakpoint-up(lg) {
					justify-content: space-between;
				}

				.swiper-pagination {
					position: relative;
				}

				.swiper-button-next,
				.swiper-button-prev {
					--swiper-navigation-size: 40px;
					--swiper-navigation-sides-offset: 0;
					width: var(--swiper-navigation-size);

					@include media-breakpoint-up(lg) {
						--swiper-navigation-size: 63px;
					}

					&::after {
						content: "";
						width: 40px;
						height: 40px;
						flex-shrink: 0;
						background-image: url("./images/right-arrow.webp");
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;

						@include media-breakpoint-up(lg) {
							width: 63px;
							height: 63px;
						}
					}
				}

				.swiper-button-prev {
					&::after {
						transform: rotate(180deg);
					}
				}
			}

			&-controls {
				display: flex;
				height: 10px;
				justify-content: center;

				.swiper-pagination {
					display: flex;
					align-items: center;
					justify-content: center;
					top: unset;
					padding: 0 20px;
					bottom: unset;

					@include media-breakpoint-up(xxl) {
						padding: 0 80px;
					}

					.swiper-pagination-bullet {
						--swiper-pagination-bullet-height: 6px;
						--swiper-pagination-bullet-width: 6px;
						background-color: $ui-button-primary-color-01;
						opacity: 1;
						transition:
							200ms transform,
							200ms left,
							0.2s width !important;
						position: initial;

						@media (prefers-reduced-motion) {
							transition: none;
						}

						&-active {
							width: 27px;
							border-radius: 3px;
						}
					}
				}
			}
		}
	}

	&-item {
		display: flex;
		column-gap: 50px;
		row-gap: 30px;
		padding: 0 110px;
		align-items: center;

		&__image {
			width: 174px;
			flex-shrink: 0;
		}

		&__content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-grow: 1;

			blockquote {
				margin-bottom: 20px;
			}

			p {
				margin-bottom: 5px;
			}
		}

		.media:not(a.media) {
			display: block;
			position: relative;
			width: 100%;
			padding-top: 100%;
			overflow: hidden;
			border: 1px solid $ui-border-bounds;
		}

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform: translate(-50%, -50%);
		}

		a.media {
			display: block;

			&:after {
				content: "";
				position: absolute;
				width: 15px;
				height: 15px;
				top: 15px;
				right: 14px;
				background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none"><g clip-path="url(%23clip0_5867_14874)"><path d="M14.3491 7.09318C13.9948 7.09318 13.7067 7.38134 13.7067 7.73559V12.8218C13.7067 13.3144 13.3059 13.7152 12.8133 13.7152H2.17824C1.68562 13.7152 1.28483 13.3144 1.28483 12.8218V2.18674C1.28483 1.69412 1.68562 1.29332 2.17824 1.29332H7.26441C7.61865 1.29332 7.90682 1.00515 7.90682 0.650908C7.90682 0.296661 7.61865 0.00862122 7.26441 0.00862122H2.17824C0.977128 0.00862122 0 0.985749 0 2.18674V12.8218C0 14.0229 0.977128 15 2.17824 15H12.8133C14.0144 15 14.9915 14.0229 14.9915 12.8218V7.73559C14.9915 7.38134 14.7033 7.09318 14.3491 7.09318Z" fill="%23662d91"/><path d="M14.2689 0H10.657C10.4876 0 10.3278 0.0653194 10.2069 0.184036C10.0863 0.302499 10.018 0.460914 10.0147 0.629857C10.0114 0.800702 10.0767 0.963049 10.1984 1.08709C10.3215 1.21266 10.4926 1.2847 10.6675 1.2847H12.8095L7.04961 7.05906C6.79949 7.30969 6.79987 7.7172 7.05075 7.9677C7.17213 8.08857 7.33321 8.15516 7.50431 8.15516C7.67541 8.15516 7.83788 8.08806 7.95913 7.96643L13.7152 2.196V4.54877C13.7152 4.71822 13.7805 4.87803 13.8993 4.9989C14.0177 5.11952 14.1761 5.18776 14.3451 5.19105C14.5157 5.19448 14.6783 5.12916 14.8023 5.0074C14.9279 4.88424 14.9999 4.71314 14.9999 4.53824V0.731324C14.9999 0.328119 14.6718 0 14.2686 0H14.2689Z" fill="%23662d91"/></g><defs><clipPath id="clip0_5867_14874"><rect width="15" height="15" fill="white"/></clipPath></defs></svg>');
				background-size: 15px;
				background-repeat: no-repeat;
				background-position: center;
			}

			img {
				transition:
					width 0.3s,
					height 0.3s;

				@media (prefers-reduced-motion) {
					transition: none;
				}
			}

			&:hover {
				.media {
					border-color: $ui-border-input-controls-active;
				}
			}
		}
	}
}