.block__feed-events--carousel .card__image{
  margin-bottom: 0;
}
.block__feed-events{
  .block__feed-events--carousel .card__body, .block__feed-events--grid .card__body{
    flex-direction: row;
  }
  .card{
    margin-right: 30px;
  }
  .admin-view {
    padding: 5px;
    background-color: #000;
    color: #fff;
    display: inline-flex;
    border-radius: 2px;
    opacity: 0.4;
    margin: 30px auto;
    position: relative;
  }
}