@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";


$block : '.impact-default-with-icons';

#{$block} {

	&__row {
		grid-template-columns: repeat(1, 1fr);
	}

	.custom-container {
		border: none;

		>.block-editor-inner-blocks {
			width: 100%;

			>.block-editor-block-list__layout {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 20px;
			}
		}
	}

	&-item {
		margin-top: 25px;

		&__content {
			margin-bottom: 25px;
		}
	}

}