@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";
@import "../../../assets/styles/scss/utilities/default-variables";

$block: ".impact-default-with-icons";

#{$block} {
	opacity: 1;

	&__row {
		display: grid;
		grid-template-columns: 1fr;

		@include media-breakpoint-up(xl) {
			grid-template-columns: 440px 1fr;
			column-gap: 145px;
		}

		.spacer {
			@include media-breakpoint-up(xl) {
				grid-column-start: 1;
				grid-column-end: 3;
			}

			&:first-of-type {
				margin-bottom: 30px;
			}
		}
	}

	&-item {
		opacity: 1;
		position: relative;
		border-radius: 2px;
		overflow: hidden;
		width: 100%;
		border: none;
		display: grid;
		grid-template-columns: 1fr;
		gap: 15px;
		margin-block-start: 0px !important;
		padding-bottom: 15px;

		&:not(:last-of-type) {
			border-bottom: 1px solid $ui-border-line-divider-on-dark;
		}

		&:not(:first-of-type) {
			padding-top: 30px;
		}

		@include media-breakpoint-up(lg) {
			gap: 32px;
			grid-template-columns: 1fr 4fr;
		}

		&__value {
			display: flex;
			margin: 0px;
			font-weight: 500;
		}

		&__header {
			margin-bottom: 12px;
		}

		&__content {
			flex: 1;
		}

		&__icon-container {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;

			img {
				height: auto;
				width: auto;
			}
		}
	}
}
