div[class^="wp-block-elevation"] {
	&.has-background {
		a:not(.cta) {
			color: inherit !important;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

[data-block-id] {
	opacity: 0;
}
[data-block-id="interior-components/group"] {
	opacity: 1;
}

#primary {
	.wp-block-media-text {
		&.is-stacked-on-mobile {
			@include media-breakpoint-down(lg) {
				grid-template-columns: 100% !important;
			}
		}
		&.is-image-fill-element > .wp-block-media-text__media {
			@include media-breakpoint-down(lg) {
				width: 100%;
				height: auto;

				img {
					height: auto;
					position: relative;
				}
			}
		}
	}
}
