body.logged-in {
	.empty-link {
		text-decoration: none;
		position: relative;
		box-shadow: 0 0 3px 0 $ui-border-system-warning;
	}
}

a.empty-link[aria-disabled="true"] {
	cursor: not-allowed;
}

div[class*="row-gap-"] {
	display: flex;
	flex-direction: column;
}

.font-bold {
	font-weight: bold;
}

.row-gap-1 {
	row-gap: 10px;
}
.row-gap-2 {
	row-gap: 20px;
}
.row-gap-3 {
	row-gap: 30px;
}
.row-gap-4 {
	row-gap: 40px;
}
.row-gap-5 {
	row-gap: 50px;
}

/*Limit Excerpt Text*/

.line-clamp-6 {
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.line-clamp-5 {
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.line-clamp-4 {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.line-clamp-3 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.line-clamp-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.line-clamp-1 {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.alignfull {
	width: 100vw;
	position: relative;
	left: calc(-50vw + 50%);
}

.aligncenter {
	display: flex !important;
	justify-content: center;
	flex-wrap: wrap;
}

// Visibiility

.visually-hidden {
	@include visually-hidden();
}

.visually-hidden-focusable {
	@include visually-hidden-focusable();
}

// Body login

body.admin-bar .header {
	top: 32px;

	@media (max-width: 782px) {
		top: 46px;
	}
}

body.logged-in .user-logged {
	display: none !important;
}

body.logged-in .not-logged {
	display: block;
}

body:not(.logged-in) .not-logged {
	display: none !important;
}