@import "../../assets/styles/scss/utilities/functions";
@import "../../assets/styles/scss/utilities/variables";
@import "../../assets/styles/scss/utilities/mixins";

.cards-border-wrapper {
	.cards-border-images__custom-container {
		border: none;

		>.block-editor-inner-blocks {
			>.block-editor-block-list__layout {
				display: flex;
				gap: 20px;
				flex-wrap: wrap;
			}
		}
	}

	&.row-cards-3 {
		.cards-border-images {
			width: calc(33.3% - 37px) !important;
		}
	}

	&.row-cards-2 {
		.cards-border-images {
			width: calc(50% - 37px) !important;
		}
	}
}