@import "../../assets/styles/scss/utilities/functions";
@import "../../assets/styles/scss/utilities/variables";
@import "../../assets/styles/scss/utilities/mixins";
@import "../../assets/styles/scss/utilities/default-variables";

.cards-background-wrapper {
	opacity: 1;
	position: relative;
	gap: 0px !important;

	&.row-cards-3 {
		.cards-background-images {
			@include media-breakpoint-up(xl) {
				width: calc(33.33% - 20px);
			}
		}
	}

	&.row-cards-2 {
		.cards-background-images {
			min-height: 439px;
			margin-bottom: 30px;

			&__container {
				padding: 30px;
			}

			&__figure {
				height: 439px;
			}

			@include media-breakpoint-up(xl) {
				width: calc(50% - 15px);
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

.cards-background-images {
	opacity: 1;
	position: relative;
	border-radius: 0px;
	overflow: hidden;
	background-color: transparent;
	display: flex !important;
	width: 100%;
	border: none;
	border-radius: 2px;
	min-height: 344px;

	&:before {
		content: "";
		position: absolute;
		top: 10px;
		right: 10px;
		width: 32px;
		height: 32px;
		display: block;
		z-index: 3;
		transition: all .2s;
		background-image: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8211 12.4645C19.8211 12.0502 19.4853 11.7145 19.0711 11.7145L12.3211 11.7145C11.9069 11.7145 11.5711 12.0502 11.5711 12.4645C11.5711 12.8787 11.9069 13.2145 12.3211 13.2145H18.3211V19.2145C18.3211 19.6287 18.6569 19.9645 19.0711 19.9645C19.4853 19.9645 19.8211 19.6287 19.8211 19.2145L19.8211 12.4645ZM12.5303 20.0659L19.6014 12.9948L18.5407 11.9341L11.4697 19.0052L12.5303 20.0659Z" fill="%23FBF9F8"/><circle cx="16" cy="16" r="15.5" stroke="%23FBF9F8"/></svg>');
	}


	@include media-breakpoint-down(xl) {
		margin-bottom: 30px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	@include media-breakpoint-up(sm) {
		width: 100%;
	}

	@include media-breakpoint-up(md) {
		width: calc(50% - 20px);
	}

	@include media-breakpoint-up(xl) {
		width: calc(33.33% - 20px);
	}

	@include media-breakpoint-up(xl) {
		margin-bottom: 0px;
	}

	&__figure {
		min-height: 344px;
		width: 100%;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			background: linear-gradient(180deg, rgba(17, 17, 17, 0.3) -2.82%, rgba(17, 17, 17, 0) 24.82%);
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			background: linear-gradient(0deg, rgba(17, 17, 17, 0.5) 0%, rgba(17, 17, 17, 0) 49.85%);
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
		width: 100%;
		position: relative;
	}


	&__custom-container {
		display: flex;
		flex-wrap: wrap;
		column-gap: 30px;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		padding: 0;
		margin-top: auto;
		width: 100%;
		z-index: 3;
		position: absolute;
		left: 0;
		top: 0;
		padding: 20px;
		height: 100%;
		justify-content: flex-end;

		.wp-block-heading {
			margin-top: 5px;
			margin-bottom: 0px;
			transition: all .2s;
			text-decoration: none;
			font-weight: 700;
			color: inherit;
			line-height: inherit;
		}
	}

	.stretched-link {
		@include stretched-link;
		z-index: 3;

	}

	@include media-breakpoint-up(xl) {
		&:hover {
			&::before {
				background-image: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16" r="15.5" fill="%23FBF9F8" stroke="%23FBF9F8"/><path d="M19.8211 12.4645C19.8211 12.0502 19.4853 11.7145 19.0711 11.7145L12.3211 11.7145C11.9069 11.7145 11.5711 12.0502 11.5711 12.4645C11.5711 12.8787 11.9069 13.2145 12.3211 13.2145H18.3211V19.2145C18.3211 19.6287 18.6569 19.9645 19.0711 19.9645C19.4853 19.9645 19.8211 19.6287 19.8211 19.2145L19.8211 12.4645ZM12.5303 20.0659L19.6014 12.9948L18.5407 11.9341L11.4697 19.0052L12.5303 20.0659Z" fill="%23210044"/></svg>');
			}

			.wp-block-heading {
				color: inherit !important;

				&::after {
					background-image: none;
				}
			}
		}
	}

}