@import "../../assets/styles/scss/utilities/functions";
@import "../../assets/styles/scss/utilities/variables";
@import "../../assets/styles/scss/utilities/mixins";
@import "../../assets/styles/scss/utilities/default-variables";

.buttons {
	position: relative;
	display: flex;

	&.container.alignfull {
		left: unset;
		padding: 0;
	}
}
