@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";

$height-video-item: 730px;
$width-video-item: 100%;
$swal2-width: 100%;

.video-carousel-full-width {
	opacity: 1;

	.swiper {
		overflow: visible;

		&__container-wrapper {
			overflow-x: hidden;
		}

		&__container {
			position: relative;
			display: flex;
			flex-direction: column;
			padding: 0px;
			gap: 30px;

			&-actions {
				display: flex;
				justify-content: flex-end;
				gap: 30px;
				position: absolute;
				width: 100%;
				padding: 0;

				@include media-breakpoint-up(lg) {
					top: calc(50% - 39px);
					justify-content: space-between;
					align-items: center;
					height: 76px;
				}

				.swiper-pagination {
					position: relative;
				}

				.swiper-button-next,
				.swiper-button-prev {
					position: initial;
					margin-top: 0px;

					&::after {
						content: "";
						width: 40px;
						height: 40px;
						flex-shrink: 0;
						background-image: url('data:image/svg+xml,<svg width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="38" cy="38" r="37.5" fill="%23FBF9F8" stroke="%23D5D4DC"/><path d="M34.5199 31.8547C34.3262 31.6609 34.2174 31.3982 34.2174 31.1242C34.2174 30.8502 34.3262 30.5875 34.5199 30.3937C34.7137 30.2 34.9764 30.0911 35.2504 30.0911C35.5244 30.0911 35.7871 30.2 35.9809 30.3937L42.8559 37.2687C42.952 37.3645 43.0283 37.4784 43.0803 37.6037C43.1324 37.7291 43.1592 37.8635 43.1592 37.9992C43.1592 38.1349 43.1324 38.2693 43.0803 38.3947C43.0283 38.52 42.952 38.6339 42.8559 38.7297L35.9809 45.6047C35.7871 45.7984 35.5244 45.9072 35.2504 45.9072C34.9764 45.9072 34.7137 45.7984 34.5199 45.6047C34.3262 45.4109 34.2174 45.1482 34.2174 44.8742C34.2174 44.6002 34.3262 44.3375 34.5199 44.1437L40.6636 38L34.5199 31.8547Z" fill="%23210044"/></svg>');
						background-size: cover;

						@include media-breakpoint-up(lg) {
							width: 76px;
							height: 76px;
						}
					}
				}

				.swiper-button-prev {
					&::after {
						transform: rotate(180deg);
					}
				}
			}

			&-controls {
				display: flex;
				height: 10px;

				.swiper-pagination {
					display: flex;
					align-items: center;
					justify-content: center;
					top: unset;
					padding: 0 20px;
					bottom: unset;

					@include media-breakpoint-up(xl) {
						justify-content: center;
					}

					@include media-breakpoint-up(xxl) {
						padding: 0 80px;
					}

					.swiper-pagination-bullet {
						background-color: $ui-button-primary-color-01;
						opacity: 1;
						transition:
							200ms transform,
							200ms left,
							0.2s width !important;
						position: initial;

						&-active {
							width: 27px;
							border-radius: 3px;
						}
					}
				}
			}
		}
	}

	&-item {
		max-height: 350px;
		height: 350px;
		opacity: 1;
		position: relative;
		display: flex;
		align-items: flex-end;

		@include media-breakpoint-up(md) {
			max-height: 500px;
			height: 500px;
		}

		@include media-breakpoint-up(xl) {
			max-width: $width-video-item;
			max-height: $height-video-item;
			height: $height-video-item;
		}

		&__background {
			height: 100%;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			z-index: 1;
			object-fit: cover;
			object-position: center;

			img {
				width: 100%;
				height: 350px;
				object-fit: cover;

				@include media-breakpoint-up(md) {
					height: 500px;
				}

				@include media-breakpoint-up(xl) {
					height: $height-video-item;
				}
			}

			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: 1;
				background: linear-gradient(
					0deg,
					rgba(17, 17, 17, 0.5) 0%,
					rgba(17, 17, 17, 0) 49.85%
				);
				z-index: 3;
			}
		}

		&__container {
			position: relative;
			z-index: 2;
			display: flex;
			align-items: flex-end;
			width: 100%;
			height: 100%;
		}

		&__button {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			border: none;
			background-color: transparent;
			font-size: px-to-rem(16px);
			font-weight: 700;
			line-height: 1.1;
			padding: 0;
			gap: 20px;
			cursor: pointer;
			color: $ui-base-white;
			position: absolute;
			top: calc(50% - 50px);
			right: calc(50% - 50px);
			width: 100px;
			height: 100px;
			font-size: 0px;

			@include media-breakpoint-up(xl) {
				top: calc(50% - 80px);
				right: calc(50% - 100px);
				width: 200px;
				height: 200px;
			}

			&::before {
				content: "";
				color: $ui-base-white;
				background-image: url('data:image/svg+xml,<svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_5847_934)"><circle cx="100" cy="100" r="50" fill="%23FBF9F8"/><path d="M93 107.07V91.8449C93 91.051 93.8806 90.5737 94.5458 91.007L105.765 98.3152C106.357 98.701 106.373 99.5626 105.795 99.9701L94.5766 107.887C93.9142 108.355 93 107.881 93 107.07Z" fill="%23210044"/></g><defs><filter id="filter0_d_5847_934" x="0" y="0" width="200" height="200" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset/><feGaussianBlur stdDeviation="25"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_5847_934"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_5847_934" result="shape"/></filter></defs></svg>');
				background-repeat: no-repeat;
				background-size: cover;
				width: 100px;
				height: 100px;
				flex-shrink: 0;

				@include media-breakpoint-up(xl) {
					width: 200px;
					height: 200px;
				}
			}

			&-label {
				width: 100%;
				padding: 10px 30px 14px 30px;
				background: rgba(17, 17, 17, 0.5);
				color: $ui-base-white;
				font-size: px-to-rem(16px);
				font-weight: 700;
				line-height: 160%;
			}
		}

		&__popup {
			&.swal2-backdrop-show {
				background-color: rgba($ui-base-black, 1);
			}

			.swal2-popup {
				padding-bottom: 0;
				border-radius: 3px;
				width: 645px;
				max-width: 90%;

				@include media-breakpoint-up(xl) {
					width: 1070px;
					height: 661px;
				}
			}

			.swal2-container,
			.swal2-popup {
				background-color: black;
			}

			.swal2-html-container {
				padding: 0;
				aspect-ratio: 16/9;
				overflow: hidden;

				iframe,
				video {
					aspect-ratio: 16/9;
				}
			}

			.swal2-close {
				width: 48px;
				height: 48px;
				margin-bottom: -48px;

				@include media-breakpoint-up(xl) {
					margin-top: -65px;
					width: 50px;
					height: 50px;

					svg {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		&.swiper-slide-active {
			.media {
				&-image {
					filter: none;
				}

				&-caption {
					display: block;
				}
			}
		}
	}
}
