.component__timeline-vertical {
	width: 100%;
	.row-gap-50 {
		flex-direction: column;
		.card__social .social-network li a span.visually-hidden {
			height: 0;
			width: 0;
			visibility: hidden;
		}
	}
}
