@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";

.lists-heading-subheading-in-2-columns {
	.wp-block-heading {
		margin-top: 0px;
	}

	.lists-heading-subheading-in-2-columns__container {
		border: none;

		>.block-editor-inner-blocks {
			width: 100%;

			>.block-editor-block-list__layout {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
			}
		}
	}

	&-item {
		&__container {
			.block-editor-inner-blocks {
				width: 100%;

				>.block-editor-block-list__layout {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					gap: 100px;
				}
			}
		}

		.wp-block-heading {
			width: 3;
			margin: 0px;
		}
	}
}