@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";
@import "../../../assets/styles/scss/utilities/default-variables";


.lists-heading-subheading-in-2-columns {
	padding: 0px;

	&__container {}

	&-item {
		opacity: 1;
		position: relative;
		overflow: hidden;
		width: 100%;
		border: none;
		margin-block-start: 0px !important;
		border-bottom: 1px solid $ui-border-line-divider-on-light;
		padding-bottom: 30px;

		@include media-breakpoint-up(xl) {
			padding-bottom: 50px;
		}

		&:not(:first-of-type) {
			padding-top: 30px;

			@include media-breakpoint-up(xl) {
				padding-top: 50px;
			}
		}

		&__container {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;

			@include media-breakpoint-up(xl) {
				gap: 120px;
				flex-direction: row;
			}

			.wp-block-heading {
				margin-bottom: 10px;

				@include media-breakpoint-up(xl) {
					width: 330px;
				}
			}

			p {
				flex: 1;
				margin-bottom: 0px;
			}
		}
	}
}