@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";

.lists-intro-text-with-content-boxes {
	.wp-block-heading {
		margin-top: 0px;
	}

	.lists-intro-text-with-content-boxes__custom-container {
		border: none;

		>.block-editor-inner-blocks {
			width: 100%;

			>.block-editor-block-list__layout {
				display: flex;
				gap: 80px;

				@include media-breakpoint-down(xl) {
					flex-direction: column;
				}

				>div {
					&:first-child {
						flex-shrink: 0;
						max-width: 370px;

						@include media-breakpoint-down(xl) {
							max-width: 100%;
						}
					}
				}
			}
		}
	}

	.lists-intro-text-with-content-boxes__container-group {
		border: none;

		>.block-editor-inner-blocks {
			>.block-editor-block-list__layout {
				display: flex;
				gap: 20px;
				flex-wrap: wrap;

				@include media-breakpoint-down(xl) {
					flex-direction: column;
				}
			}
		}

		.lists-intro-text-with-content-boxes-box {
			@include media-breakpoint-down(xl) {
				width: 100%;
			}
		}
	}
}