@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";


$block: 'impact-default-content-centered-item';

#{$block} {
	.wp-block-heading {
		margin-top: 0px;
	}

	#{$block}__container {
		border: none;
	}
}