@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";
@import "../../../assets/styles/scss/utilities/default-variables"; // check
@import "../../../assets/styles/scss/utilities/mixins/cta"; // check


.team-bios-carousel-container {


    .card__body {
        width: calc(100% - 40px);
    }

    &__options {
        .selected-option {
            button {
                transition: all .2s;
            }

            &:hover {
                button {
                    color: #DF0141;
                }
            }
        }
    }
}