@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";

.lists-links {
	.wp-block-heading {
		margin-top: 0px;
	}

	.lists-links-item__container {
		border: none;

		>.block-editor-inner-blocks {
			width: 100%;

			>.block-editor-block-list__layout {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
			}
		}
	}
}