@import "../utilities/functions";
@import "../utilities/variables";
@import "../utilities/mixins";

.container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0 1.5rem;

	@include media-breakpoint-up(sm) {
		width: 540px;
	}

	@include media-breakpoint-up(md) {
		width: 720px;
	}

	@include media-breakpoint-up(lg) {
		width: 960px;
	}

	@include media-breakpoint-up(xl) {
		width: 1140px;
	}

	@include media-breakpoint-up(xxl) {
		width: 1320px;
	}
}

.important-text {
	background-color: rgba(22, 63, 123, 0.08);
	border-radius: 1px;
	display: block;
	padding: 36px 46px;
}

.important-text > * {
	color: #163f7b !important;
}

blockquote {
	font-family: "Martel", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 27px;
	letter-spacing: 0.03em;
	color: #cb4b3b;
	margin: 20px 0;
}

.font-bold {
	font-weight: bold;
}

.column-list-2 {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
	display: block;
}
