.block__cards-template{
  padding: 40px 0;
  .block__cards-template--row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 15px;
    margin-top: 15px;
    > .col{
      flex: 0 0 auto;
      width: calc(33.33% - 5px);
      .card{
        margin: 0;
        padding: 0;
        border: 1px solid rgba(217, 217, 217, 0.418324);
        box-shadow: none;
        a{
          text-decoration: none;
        }
        figure{
          margin-bottom: 0;
        }
        // .card__body__button{
        //   margin-top: 25px;
        // }
      }
    }
  }
}