@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "../../assets/styles/scss/utilities/_functions";
@import "../../assets/styles/scss/utilities/_variables";
@import "../../assets/styles/scss/utilities/_mixins";

$section: ".block__cards-template";
#{$section} {
	padding: 80px 0;

	&--row {
		margin-top: 80px;
		row-gap: 30px;
	}

	.card {
		background-color: #fff;
		border-radius: 1px;
		border: 1px solid rgba(217, 217, 217, 0.418324);
		box-shadow: 0 0 0 rgba(0, 0, 0, 0);
		display: flex;
		flex-direction: column;
		overflow: hidden;
		position: relative;
		height: 100%;
		transition: all 0.4s ease;
		> * {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
		&__header {
			background-color: #d8d8d8;
			flex: 0 0 176px;
			height: 176px;
			overflow: hidden;
			position: relative;
			width: 100%;
			img {
				bottom: unset;
				height: 75% !important;
				left: 50%;
				object-fit: contain;
				object-position: center;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%) scale(1);
				transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
				width: 75%;
				z-index: 1;
			}
		}
		&__body {
			height: calc(100% - 176px);
			display: flex;
			flex-direction: column;
			gap: 11px;
			padding: 30px 37px 60px;
			position: relative;
			&::after {
				content: "";
				background-color: transparent;
				width: 0;
				left: 0;
				position: absolute;
				bottom: 0;
				height: 5px;
				transition: all 0.3s ease;
			}
			> *,
			* > *:not(.cta):not(font) {
				color: $text;
				margin: 0;
				transition-property: color;
				transition-duration: 0.4s;
				transition-timing-function: ease-in-out;
			}
			&__title {
				@include font-heading;
				font-weight: 500;
				font-size: px-to-rem(20px);
				line-height: px-to-rem(28px);
				letter-spacing: 0.04em;
			}
			&__date {
				@include font-heading;
				color: $container-tertiary;
				font-size: px-to-rem(14px);
				font-weight: 500;
				letter-spacing: 1px;
				line-height: 17px;
				margin-bottom: 6px;
			}
			&__excerpt,
			&__excerpt > p {
				@include font-body;
				font-size: px-to-rem(14px);
				font-weight: 400;
				letter-spacing: 0.03em;
				line-height: px-to-rem(25px);
				margin-bottom: 14px;
			}
			&__button {
				margin-top: auto;
			}
		}
		&:hover,
		&.active {
			box-shadow: 8px 8px 29px rgba(0, 0, 0, 0.1);
			.card__header {
				img {
					transform: translate(-50%, -50%) scale(1.1);
				}
			}
			.card__body {
				&::after {
					width: 100%;
					background-color: $light-primary;
				}
				&__button {
					button {
						background-color: $light-primary;
					}
				}
			}
		}
	}
}
