@import "../../assets/styles/scss/utilities/functions";
@import "../../assets/styles/scss/utilities/variables";
@import "../../assets/styles/scss/utilities/mixins";

.cards-images-with-heading-description {
	.cards-images-with-heading-description-card__container-group  {
		border: none;

		>.block-editor-inner-blocks {
			>.block-editor-block-list__layout {
				display: flex;
				gap: 30px;
				flex-wrap: wrap;
			}
		}
	}
}