@import "../../assets/styles/scss/utilities/functions";
@import "../../assets/styles/scss/utilities/variables";
@import "../../assets/styles/scss/utilities/mixins";
@import "../../assets/styles/scss/utilities/default-variables";

.cards-images-with-heading-description {
	opacity: 1;
	position: relative;
	gap: 0px !important;

	&.row-cards-3 {
		.cards-images-with-heading-description-card {
			@include media-breakpoint-up(xl) {
				width: calc(33.33% - 20px);
			}
		}
	}

	&.row-cards-2 {
		.cards-images-with-heading-description-card {
			&__img {
				height: 438px;
			}

			@include media-breakpoint-up(xl) {
				width: calc(50% - 20px);
			}
		}
	}
}

.cards-images-with-heading-description-card {
	opacity: 1;
	position: relative;
	border-radius: 0px;
	overflow: hidden;
	display: flex !important;
	align-items: flex-end;
	min-height: 443px;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-block-start: 0px !important;

	@include media-breakpoint-up(sm) {
		width: 100%;
	}

	@include media-breakpoint-up(md) {
		width: calc(50% - 20px);
	}

	@include media-breakpoint-up(xl) {
		width: calc(33.33% - 20px);
	}

	&__container-group {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}

	&__img {
		width: 100%;
		height: 284px;
		object-fit: cover;
	}

	&__custom-container {
		display: flex;
		flex-wrap: wrap;
		column-gap: 30px;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
		padding: 0;
		margin-top: auto;

		img {
			width: 48px;
			height: auto;
			margin-bottom: 10px;
		}

		.wp-block-heading {
			margin-top: 20px;
			margin-bottom: 12px;
			transition: all .2s;
			z-index: 1;
			color: $ui-foreground-primary-text-headings;
		}

		p {
			overflow: hidden;
			margin-bottom: 0;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
			font-size: px-to-rem(16px);
			line-height: px-to-rem(25.6px);
			color: $ui-foreground-primary-text-body-text;
		}
	}

	.cta {
		@include stretched-link;
		position: initial;
		z-index: 2;

		&::after {
			height: 101%;
			width: 101%;
			transform: none;
		}
	}

	.wp-block-elevation-buttons {
		margin-top: 24px;
	}

	@include media-breakpoint-up(xl) {
		&:hover {
			.wp-block-heading {
				color: $ui-button-tertiary-hover !important;
				text-decoration: underline;
			}
		}
	}

}