@import "" ../../../assets/styles/scss/utilities/functions "" @import ""
	../../../assets/styles/scss/utilities/variables "" @import ""
	../../../assets/styles/scss/utilities/mixins "" @import "" swiper/css/bundle
	"" .team-bios-tabs {
	position: relative;
	opacity: 1;

	&-container {
		&__filters {
			&__list {
				display: flex;
				flex-wrap: wrap;
				gap: 8px;
				margin-bottom: 20px;
				border-bottom: 1px solid $ui-border-line-divider-dots-divider;

				@include media-breakpoint-up(xl) {
					margin-bottom: 30px;
				}

				&__item {
					margin-bottom: 0 !important;

					&::before {
						content: none !important;
					}
					&__button {
						position: relative;
						background-color: transparent;
						border: none;
						padding: 12px 8px;
						font-weight: 500;
						color: $ui-foreground-primary-text-body-text;

						&::after {
							content: "";
							position: absolute;
							bottom: 0;
							left: 0;
							width: 0;
							height: 2px;
							background-color: $ui-foreground-secondary-indicator;
							transition: 0.3s width ease;

							@media (prefers-reduced-motion: reduce) {
								transition: none;
							}
						}

						&.active {
							color: $ui-foreground-secondary-indicator;

							&::after {
								width: 100%;
							}
						}
					}
				}
			}
		}

		&__wrapper {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;

			&.clickable {
				.card {
					cursor: pointer;
				}
			}
		}
	}

	.clickable {
		.card {
			&:focus-within,
			&:has(:hover) {
				.card__title {
					color: $ui-foreground-primary-text-links;
				}
			}

			&:focus-within {
				box-shadow: 0 0 0 3px
					rgba($ui-foreground-primary-accent-01, 0.5);
			}
		}
	}

	.card {
		position: relative;
		width: 100%;
		max-width: 100%;
		border-radius: 2px;
		border: 1px solid $ui-border-bounds;
		padding: 10px 10px 30px;
		display: flex;
		flex-direction: column;

		@include media-breakpoint-up(md) {
			width: calc(50% - 15px);
		}

		@include media-breakpoint-up(lg) {
			width: calc(33.3333% - 20px);
		}

		&__image {
			position: relative;
			width: 100%;
			height: auto;
			aspect-ratio: 324/298;
			margin-bottom: 20px;
			display: block;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__category {
			color: $ui-button-primary-color-01;

			&-wrapper {
				display: flex;
				flex-wrap: wrap;
				gap: 10px;
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 2px dotted $ui-border-line-divider-dots-divider;
			}
		}

		&__title {
			color: $ui-foreground-primary-text-headings;
		}

		&__body {
			*:last-child {
				margin-bottom: 0;
			}
		}

		&__stretched-link {
			@include stretched-link;
			text-indent: -9999px;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			clip: rect(0, 0, 0, 0);
			white-space: nowrap;
			border: 0;

			&:focus-visible {
				box-shadow: none;
			}
		}
	}

	&__popup {
		display: none;
	}

	&__popup-container {
		.team-bios-tabs__popup {
			display: flex;
			flex-direction: column;
			gap: 30px;

			@include media-breakpoint-up(xl) {
				gap: 70px;
			}
		}

		button:where(.swal2-close) {
			@include font-body;
			gap: 7px;
			margin-top: 25px;
			margin-right: 25px;
			width: auto;
			height: auto;
			border: none;
			color: $ui-foreground-primary-text-headings;
			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			line-height: 130%;

			span {
				text-decoration: underline;
			}
		}

		.swal2-popup {
			width: 1095px;
			max-width: 90%;
			border-radius: 0;
			padding: 0px;
		}

		.swal2-html-container {
			padding: 60px 20px 40px;

			@include media-breakpoint-up(xl) {
				padding: 80px 74px;
			}
		}
	}
}
