@import "../../../assets/styles/scss/utilities/mixins";

.elevation-interior-components--group {
    &.type-row {
        @include media-breakpoint-up(xl) {
            display: flex;
            flex-direction: row;
            gap: 144px;
            justify-content: space-between;
            flex-wrap: wrap;

            .buttons {
                flex-shrink: 0;
            }

            >*:not(.buttons) {
                max-width: 644px;
            }
        }
    }

    &.type-column {
        display: flex;
        flex-direction: column;
    }

}