#primary {
	a:not([class*="cta"]):not([class*="page-numbers"]):not(.wp-block-heading) {
		text-decoration: underline !important;

		&:hover {
			text-decoration: none !important;
		}

		&:not(.has-link-color a) {
			color: $ui-foreground-primary-text-links;
		}
	}
}
