@mixin cta {
	@include font-heading;
	background-color: transparent;
	border: none;
	align-items: center;
	border-radius: $button-border-radius !important;
	color: $ui-base-white;
	column-gap: 10px;
	display: inline-flex;
	transition: all 0.2s ease;
	&::selection {
		background-color: $selector_color;
		color: white;
	}
}

@mixin cta--primary {
	background-color: $ui-button-primary-color-01 !important;
	color: $ui-base-white !important;
	&:hover {
		background-color: $ui-button-primary-hover !important;
	}
}

@mixin cta--secondary {
	background-color: $ui-button-primary-color-02 !important;
	color: $ui-base-white !important;
	&:hover {
		background-color: $ui-button-primary-hover !important;
	}
}
