@import "../../../assets/styles/scss/utilities/functions";
@import "../../../assets/styles/scss/utilities/variables";
@import "../../../assets/styles/scss/utilities/mixins";

.callout-background-content-box-left {
	opacity: 1;
	position: relative;
	display: flex;
	align-items: center;
	--callout-background-content-box-left-padding: 180px 0 40px 0;
	padding: var(--callout-background-content-box-left-padding);
	color: $ui-foreground-primary-text-headings;

	@include media-breakpoint-up(xl) {
		--callout-background-content-box-left-padding: 217px 0 40px 0;
		min-height: 563px;
	}

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		object-fit: cover;
	}

	&__container {
		position: relative;
		z-index: 2;
	}

	&__wrapper {
		max-width: 100%;
		background-color: $ui-base-white;
		padding: 30px;
		border-radius: 2px;

		@include media-breakpoint-up(lg) {
			width: 684px;
			padding: 40px 50px;
		}
	}

	&:not(.alignfull) {
		max-width: 100%;
		margin: 0 auto;

		@include media-breakpoint-up(xl) {
			width: 83.3333%;
		}

		@include media-breakpoint-up(xxl) {
			width: 1095px;
		}

		.callout-background-content-box-left__container {
			padding: 0 40px;
		}
	}
}
